<div *ngIf="this.maxheigh" class="chatbotFrame" id="scrollbarDiv" [class.botframe-animation1]="!isChatBotvisibility "
    [class.botframe-animation2]="isChatBotvisibility">
    <div class="small-chat-box" [class.max-height]=" this.maxheigh" id="chatBox">
        <div class="paxcel-heading" [style.backgroundColor]="  this.headerBgColor " [ngStyle]="headerTextColor"
            *ngIf="this.maxheigh">
            <img [src]="avatarUrl" width="35" height="35" alt="Avataar Icon" title="Avataar Icon" class="option-icon"
                style="opacity:1;">
            <!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px"
                viewBox="0 0 185.000000 172.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,172.000000) scale(0.100000,-0.100000)" fill="#305c8f" stroke="none">
                    <path d="M745 1704 c-238 -57 -433 -211 -544 -431 -21 -40 -44 -69 -66 -83
-46 -28 -93 -89 -116 -150 -23 -61 -25 -180 -4 -239 21 -60 71 -128 115 -157
24 -16 44 -41 55 -66 25 -63 101 -175 161 -238 l54 -56 -10 -55 c-12 -73 -35
-136 -65 -175 -40 -52 -35 -58 48 -51 105 8 162 32 224 92 32 31 58 48 65 44
70 -37 330 -51 448 -24 154 36 312 126 413 234 59 65 137 184 157 242 8 20 25
44 41 53 76 45 129 156 129 271 0 116 -53 226 -130 272 -17 10 -36 34 -46 57
-28 71 -122 202 -188 263 -106 96 -237 166 -376 198 -82 19 -284 18 -365 -1z
m890 -538 c214 -99 222 -391 14 -495 l-62 -31 -657 0 -657 0 -60 30 c-169 85
-205 306 -72 439 18 19 56 45 84 57 l50 24 655 0 655 0 50 -24z" />
                    <path d="M542 1040 c-34 -15 -47 -29 -63 -66 -36 -80 -4 -159 75 -189 40 -15
53 -16 88 -6 52 16 83 48 99 100 11 37 10 48 -7 89 -15 38 -28 52 -64 70 -54
27 -73 27 -128 2z" />
                    <path d="M1172 1040 c-34 -15 -47 -29 -63 -66 -36 -80 -4 -159 75 -189 40 -15
53 -16 88 -6 52 16 83 48 99 100 11 37 10 48 -7 89 -15 38 -28 52 -64 70 -54
27 -73 27 -128 2z" />
                </g>
            </svg> -->
            <div class="close-icon" (click)="chatBotvisibility()" (click)="crosIcon()">
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Capa_1" x="0px" y="0px" viewBox="0 0 47.971 47.971"
                    style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve" width="15px" height="15px">
                    <g>
                        <g>
                            <path
                                d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"
                                data-original="#000000" class="active-path" data-old_color="#000000" fill="#305C8F" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="envelope-icon" (click)="FeedbackForm()">
                <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Capa_1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;"
                    xml:space="preserve" width="23px" height="23px" class="">
                    <g>
                        <g>
                            <g>
                                <path
                                    d="M7,9L5.268,7.484l-4.952,4.245C0.496,11.896,0.739,12,1.007,12h11.986    c0.267,0,0.509-0.104,0.688-0.271L8.732,7.484L7,9z"
                                    data-original="#030104" class="active-path" data-old_color="#030104"
                                    fill="#305C8F" />
                                <path
                                    d="M13.684,2.271C13.504,2.103,13.262,2,12.993,2H1.007C0.74,2,0.498,2.104,0.318,2.273L7,8    L13.684,2.271z"
                                    data-original="#030104" class="active-path" data-old_color="#030104"
                                    fill="#305C8F" />
                                <polygon points="0,2.878 0,11.186 4.833,7.079   " data-original="#030104"
                                    class="active-path" data-old_color="#030104" fill="#305C8F" />
                                <polygon points="9.167,7.079 14,11.186 14,2.875   " data-original="#030104"
                                    class="active-path" data-old_color="#030104" fill="#305C8F" />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            PayBotUs
        </div>
        <div class="chatbot-body">
            <div class="slimScrollDiv main-scrollbar messages-body" #scroller [scrollTop]="scroller.scrollHeight"
                id="scroll">
                <div class="content " id="contents">

                    <div *ngFor="let item of chatHistoryArr ">
                        <div class="left" *ngIf="item.isbot == true">
                            <div class="chat-message user-image message-text animation" [innerHTML]="item.message">
                            </div>
                        </div>
                        <div class="left right" *ngIf="item.isbot == false">
                            <div class="chat-message user-chatbox right-chatbox animation2" [style.color]="viTextColor"
                                [style.backgroundColor]="viBgColor" id="userMessage">{{item.message
            }}
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let item of chatArr; let i = index;  ">
                        <div class="left right" *ngIf="item.id === 1">
                            <div class="chat-message user-chatbox right-chatbox animation2" id="userMessage"
                                [style.color]="viTextColor" [style.backgroundColor]="viBgColor"
                                [class.arrow-up]="i == this.arrowkeyLocation">{{item.message }}
                            </div>
                        </div>
                        <div class="left" *ngIf="item.id === 3">
                            <div class="chat-message user-image left-chatbox animation">{{item.message }}</div>
                        </div>
                        <div class="userDetailsForm" id="leadfrom" *ngIf="item.id === 208">
                            <form novalidate (ngSubmit)="accountNumberLastStore()" #account="ngForm">
                                <div class="authForm">
                                    <div class="paxcel-main-heading">Enter Account Number
                                    </div>
                                    <div ngModelGroup="accountNumber" class="form-row">
                                        <div class="wrap-input100" [ngClass]="{
               'has-danger': accountNumber.invalid && (accountNumber.dirty || accountNumber.touched),
               'has-success': accountNumber.valid && (accountNumber.dirty || accountNumber.touched)
               }">
                                            <input type="text" class="input100" name="accountNumber"
                                                [(ngModel)]="accountInfo.accountNumber" required
                                                #accountNumber="ngModel" placeholder="Type your account number..."
                                                autocomplete="off">
                                        </div>
                                        <div class="error-Message"
                                            *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched)">
                                            <span *ngIf="accountNumber.errors.required">account number is
                                                required</span>
                                        </div>
                                    </div>
                                    <div class="form-row formBtn">
                                        <button type="submit" class="btn btn-default"
                                            [disabled]="account.invalid">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="userDetailsForm" id="leadfrom" *ngIf="item.id === 2030">
                            <form novalidate #payMethos="ngForm" (ngSubmit)="selectPaymentMethod()">
                                <div class="authForm">
                                    <div class="security-icon">
                                        <img src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/security-icon.png"
                                            alt="Secure Payment" title="Secure Payment">
                                    </div>
                                    <div class="paxcel-main-heading">Payment Method</div>
                                    <div class="form-row">
                                        <input type="radio" value="now" name="payMethod" [(ngModel)]="payMethod"
                                            required> credit
                                        <input type="radio" value="later" name="payMethod" [(ngModel)]="payMethod"
                                            required> Debit
                                    </div>
                                    <div class="form-row formBtn">
                                        <button type="submit" class="btn btn-default"
                                            [disabled]="payMethos.invalid">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="userDetailsForm" id="payment-receipt-form" *ngIf="item.id === 215">
                            <form novalidate #dateSelect="ngForm">
                                <div class="authForm payment-receipt-form">
                                    <div class="paxcel-main-heading main-heading">Bill
                                        Details
                                    </div>
                                    <div>
                                        <ul class="receipt-details">
                                            <li><strong>Confirmation #</strong> <span>{{this.referencenumber}}</span>
                                            </li>
                                            <li><strong>Payment Type</strong> <span>Utility Bill</span></li>
                                            <li><strong>Status</strong> <span>Accepted</span></li>
                                            <li><strong>Payment Account</strong> <span>{{this.totalAmount}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="userDetailsForm" id="payment-receipt-form" *ngIf="item.id === 205">
                            <!-- <form novalidate #dateSelect="ngForm">
                                <div class="authForm payment-receipt-form">
                                    <div class="paxcel-main-heading main-heading">Payment
                                        Receipt
                                    </div>
                                    <div>
                                        <ul class="receipt-details">
                                            <li><strong style="color: blue">Your payment has been
                                                    &nbsp;{{this.status}}.</strong>
                                            </li>
                                            <li><strong>Confirmation #</strong> <span>{{this.referencenumber}}</span>
                                            </li>
                                            <li><strong>Payment Type</strong> <span>Utility Bill</span></li>
                                            <li><strong>Status</strong> <span>{{this.status}}</span></li>
                                            <li><strong>Payment Amount</strong> <span>{{this.totalAmount}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </form> -->

                            <div class="authForm">
                                <div id="exploremore" style="position: relative;
                                    border: 0px solid #333333;
                                    clear: both;
                                    overflow: hidden;
                                    background-color: #E0E7EE;
                                    padding: 16px;">
                                    <div style="position: absolute;
                                        left: 0px;
                                        top: 70px;
                                        z-index: 2!important;
                                        width: 20px;
                                        height: 20px; cursor: pointer;">
                                        <img (click)="explorescrollLeft($event)"
                                            src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/left-arrow.png"
                                            style="width: 20px; height: auto;">
                                    </div>
                                    <div class="exploremiddle">
                                        <div class="explore_info-widget" *ngFor="let data of payList"
                                            style="font-size: 13px; color: #333333;">
                                            <div class="paxcel-main-heading">Payment Receipt</div>
                                            <!-- <div style="font-size: 13px;
                                                color: #333333;
                                                font-weight: 600;
                                                font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
                                                text-align: center; margin-bottom: 16px;">Payment Receipt</div> -->

                                            <ul class="ExplorelistItem" *ngIf="data.$status=='FAILED'">
                                                <li>
                                                    <strong>Account Number</strong> <span>{{data.$accountnumber}}</span>
                                                </li>
                                                <li>
                                                    <strong>Status</strong> <span>{{data.$status}}</span>
                                                </li>

                                                <!-- <li>
                                                        <strong style="font-weight: 400;">Message</strong>{{data.$errormessage}}
                                                    </li> -->
                                                <!-- <li>
                                                        <strong>Message</strong> <span>{{data.~message}}</span>
                                                    </li> -->
                                            </ul>

                                            <p style="font-size: 13px; font-family: 'Raleway', Arial, Helvetica, sans-serif !important;white-space: normal;"
                                                class="ExplorelistItem" *ngIf="data.$status=='FAILED'">
                                                <strong style="font-weight: 400;">Message
                                                    :</strong>{{data.$errormessage}}
                                            </p>

                                            <ul class="ExplorelistItem" *ngIf="data.$paystatus=='ACCEPTED'">
                                                    <li><strong>Account Number</strong> <span>{{data.$accountnumber}}</span></li>
                                                <li>
                                                    <strong>Status</strong> <span>{{data.$paystatus}}</span>
                                                </li>
                                                <li><strong>Amount</strong> <span>{{data.$totalamount}}</span></li>
                                                <li><strong>Reference Number</strong>
                                                    <span>{{data.$referencenumber}}</span>
                                                </li>

                                                <li><strong>Convenience Fee</strong> <span>{{data.$convenienceFee}}</span></li>
                                                <li><strong>Payment Date</strong> <span>{{data.$paymentDate}}</span></li>
                                            </ul>
                                            <ul class="ExplorelistItem" *ngIf="data.$paystatus=='SCHEDULED'">
                                                    <li><strong>Account Number</strong> <span>{{data.$accountnumber}}</span></li>
                                                    <li>
                                                        <strong>Status</strong> <span>{{data.$paystatus}}</span>
                                                    </li>
                                                    <li><strong>Amount</strong> <span>{{data.$totalamount}}</span></li>
                                                    <li><strong>Reference Number</strong>
                                                        <span>{{data.$referencenumber}}</span>
                                                    </li>

                                                    <li><strong>Convenience Fee</strong> <span>{{data.$convenienceFee}}</span></li>
                                                    <li><strong>Payment Date</strong> <span>{{data.$paymentDate}}</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div style="position: absolute;
                                        right: 0px;
                                        top: 70px;
                                        z-index: 2!important;
                                        width: 20px;
                                        height: 20px; cursor: pointer;">
                                        <img (click)="explorescrollRight($event)"
                                            src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/right-arrow.png"
                                            style="width: 20px; height: auto;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="userDetailsForm" id="payment-receipt-form" *ngIf="item.id === 206">
                            <form novalidate #dateSelect="ngForm">
                                <div class="authForm payment-receipt-form">
                                    <div class="paxcel-main-heading main-heading">View
                                        details
                                    </div>
                                    <div>
                                        <ul class="receipt-details">
                                            <li><strong>Confirmation #</strong> <span>{{this.referencenumber}}</span>
                                            </li>
                                            <li><strong>Payment Type</strong> <span>Utility Bill</span></li>
                                            <li><strong>Status</strong> <span>Accepted</span></li>
                                            <li><strong>Payment Acmount</strong> <span>{{this.totalAmount}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="userDetailsForm" id="leadfrom" *ngIf="item.id === 100">
                            <form novalidate (ngSubmit)="userDetailsStore()" #f="ngForm">
                                <div class="authForm">
                                    <div class="paxcel-main-heading">User Registration</div>
                                    <div ngModelGroup="name" class="form-row">
                                        <div class="wrap-input100" [ngClass]="{
               'has-danger': name.invalid && (name.dirty || name.touched),
               'has-success': name.valid && (name.dirty || name.touched)
               }">
                                            <input type="text" class="input100" name="name" [(ngModel)]="model.name"
                                                required #name="ngModel" placeholder="Type your first name..."
                                                autocomplete="off">
                                        </div>
                                        <div class="error-Message" *ngIf="name.errors && (name.dirty || name.touched)">
                                            <span *ngIf="name.errors.required">Name is required</span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="wrap-input100" [ngClass]="{
               'has-danger': email.invalid && (email.dirty || email.touched),
               'has-success': email.valid && (email.dirty || email.touched)
               }">
                                            <input type="email" class="input100" name="email" [(ngModel)]="model.email"
                                                required autocomplete="off"
                                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                #email="ngModel" placeholder="Type your email Id...">
                                        </div>
                                        <div class="error-Message"
                                            *ngIf="email.errors && (email.dirty || email.touched)">
                                            <span *ngIf="email.errors.required">Email is required</span>
                                            <span *ngIf="email.errors.pattern">Please enter a valid email</span>
                                        </div>
                                    </div>
                                    <div class="form-row formBtn">
                                        <button type="submit" class="btn btn-default" [disabled]="f.invalid">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="left" *ngIf="item.id === 0">
                            <div class="biller-name"> Chatbot</div>
                            <div class="bot-avatar">
                                <img [src]="avatarUrl" width="30" height="30" alt="Avataar Icon" title="Avataar Icon">
                            </div>
                            <div class="chat-message user-image message-text animation" [style.color]="agentTextColor"
                                [style.background-color]="agentBgColor" [innerHTML]="item.message">
                            </div>
                        </div>
                    </div>
                    <div class="left" *ngIf="isSpinerShow">
                        <div class="biller-name"> Chatbot</div>
                        <div class="bot-avatar loading-avatar">
                            <img [src]="avatarUrl" width="30" height="30" alt="Avataar Icon" title="Avataar Icon">
                        </div>
                        <div class="chat-message user-image message-text animation"
                            [style.background-color]="agentBgColor" id="agentMessage">
                            <div class="typing-indicator">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="userDetailsForm margin-bottom-zero" id="echeck-details-from" *ngIf="this.iseheckForm">
                    <form novalidate #pay="ngForm" (ngSubmit)="submitEcheckInfo()">
                        <div class="authForm payment-info-form echeck-details-form"
                            [style.backgroundColor]="this.headerBgColor">
                            <div class="paxcel-main-heading main-heading">e-check Details
                            </div>
                            <div class="form-row-inner">
                                <div class="form-row radio-wrap">
                                    <label>
                                        <input class="radio-btn" type="radio" value="now" name="paytype"
                                            [(ngModel)]="EcheckPay.paytype" required>
                                        Checking
                                    </label>
                                    <label>
                                        <input class="radio-btn" type="radio" value="later" name="paytype"
                                            [(ngModel)]="EcheckPay.paytype" required>
                                        Savings
                                    </label>
                                </div>
                            </div>
                            <div class="form-row-inner">
                                <div ngModelGroup="routingnumber" class="form-row">
                                    <div class="wrap-input100">
                                        <input type="text" class="input100" id="routingnumber" name="routingnumber"
                                            required #routingnumber="ngModel" [(ngModel)]="EcheckPay.routingnumber"
                                            placeholder="" autocomplete="off">
                                        <label for="routingnumber">Routing Number</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="routingnumber.errors && (routingnumber.dirty || routingnumber.touched)">
                                        <span *ngIf="routingnumber.errors.required">Rounting number is required</span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="wrap-input100">
                                        <input type="text" class="input100" id="accnumber" name="accnumber"
                                            #accnumber="ngModel" [(ngModel)]="EcheckPay.accnumber" required
                                            placeholder="" autocomplete="off">
                                        <label for="accnumber">Account Number</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="accnumber.errors && (accnumber.dirty || accnumber.touched)">
                                        <span *ngIf="accnumber.errors.required">Account number is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="bankname" name="bankname" required
                                        placeholder="" #bankname="ngModel" [(ngModel)]="EcheckPay.bankname"
                                        autocomplete="off">
                                    <label for="bankname">Bank Name</label>
                                </div>
                                <div class="error-Message"
                                    *ngIf="bankname.errors && (bankname.dirty || bankname.touched)">
                                    <span *ngIf="bankname.errors.required">Bank name is required</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="accholdername" name="accholdername" required
                                        autocomplete="off" #accholdername="ngModel"
                                        [(ngModel)]="EcheckPay.accholdername" placeholder="">
                                    <label for="accholdername">Account Holder Name</label>
                                </div>
                                <div class="error-Message"
                                    *ngIf="accholdername.errors && (accholdername.dirty || accholdername.touched)">
                                    <span *ngIf="accholdername.errors.required">Account holder name is required</span>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="pay.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm  margin-bottom-zero" id="payment-method" *ngIf="this.ispaymentMetod">
                    <form novalidate #payMethods="ngForm" (ngSubmit)="selectPaymentMethod()">
                        <div class="authForm payment-method-form">
                            <div class="paxcel-main-heading">Payment Method</div>
                            <ul class="method-details">
                                <li>
                                    <label>
                                        <strong>
                                            <input #opt2 type="radio" value="credit" name="pay" [(ngModel)]="pay"
                                                required class="radio-btn" (change)="onItemChange(opt2.value)">
                                            <img
                                                src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/visa_64.png">
                                        </strong>
                                        <span>Credit Card</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <strong>
                                            <input #op1 type="radio" value="debit" name="pay" [(ngModel)]="pay" required
                                                class="radio-btn" required (change)="onItemChange(op1.value)">
                                            <img
                                                src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/visa_64.png">
                                            <img
                                                src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/mastercard_64.png">
                                            <img
                                                src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/amex_64.png">
                                            <img
                                                src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/discover_64.png">
                                        </strong> <span>Debit Card</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <strong>
                                            <input #opt3 value="Bank" name="pay" [(ngModel)]="pay"
                                                (change)="onItemChange(opt3.value)" required type="radio"
                                                class="radio-btn" required>
                                        </strong> <span>eCheck / Bank
                                            Account</span>
                                    </label>
                                </li>
                            </ul>
                            <div class="formBtn">
                                <button type="submit" class="btn btn-default"
                                    [disabled]="payMethods.invalid">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.ispaymentConfirm">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="confirmPyment()">
                        <div class="authForm confirm-payment-form">
                            <div class="paxcel-main-heading main-heading">Confirm Payment
                            </div>
                            <div>
                                <ul class="payment-details">
                                    <li><strong>Payment Method</strong> <span><img
                                                src="http://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/visa_64.png"
                                                class="visa-img">{{this.cardNumber}}</span></li>
                                </ul>
                                <div class="total-payment"><strong>Payment Amount</strong>
                                    <span>{{this.billamount}}</span>
                                </div>
                                <div class="payment-content">
                                    <p><a href="https://secure1.paymentus.com/rotp/www/terms-and-conditions-no-fee.html"
                                            target="_blank">Click to read the Payment Authorization Terms</a></p>
                                    <p><input type="checkbox" id="checkbox" value="isauth" name="checkbox"
                                            [(ngModel)]="ischeck" required> I authorize payment and agree
                                        to the Payment Authorization Terms
                                    </p>
                                    <p>Click the PAY button to complete your payment.</p>
                                </div>
                                <div class="form-row formBtn btn-margin">
                                    <button type="submit" class="btn btn-default" [disabled]="dateSelect.invalid">Pay
                                        {{this.billamount}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.ispaymentLaterConfirm">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="confirmPyment()">
                        <div class="authForm confirm-payment-form">
                            <div class="paxcel-main-heading main-heading">Confirm Payment
                            </div>
                            <div>
                                <ul class="payment-details">
                                    <li><strong>Payment Method</strong> <span><img
                                                src="http://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/visa_64.png"
                                                class="visa-img">{{this.cardNumber}}</span></li>
                                </ul>
                                <div class="total-payment"><strong>Payment Amount</strong>
                                    <span>{{this.billamount}}</span>
                                </div>
                                <div class="payment-content">
                                    <p><a href="https://secure1.paymentus.com/rotp/www/terms-and-conditions-no-fee.html"
                                            target="_blank">Click to read the Payment Authorization Terms</a></p>
                                    <p><input type="checkbox" id="checkbox" value="isauth" name="checkbox"
                                            [(ngModel)]="ischeck" required> I <b>Authorize</b> payment from the account you have specified. This authorization will remain in effect until you cancel it through the Customer Portal or by calling your biller's customer service number. The cancellation request must be received at least 3 business days before the next scheduled payment date.
                                    </p>
                                    <p>Click the PAY button to complete your payment.</p>
                                </div>
                                <div class="form-row formBtn btn-margin">
                                    <button type="submit" class="btn btn-default" [disabled]="dateSelect.invalid">Pay
                                        {{this.billamount}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isEcheckPayemnt">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="confirmEcheckPyment()">
                        <div class="authForm confirm-payment-form">
                            <div class="paxcel-main-heading main-heading">Confirm Payment
                            </div>
                            <div>
                                <ul class="payment-details">
                                    <li><strong>Account Number</strong> <span>{{this.cardNumber}}</span></li>
                                </ul>
                                <div class="total-payment"><strong>Payment Amount</strong>
                                    <span>{{this.billamount}}</span>
                                </div>
                                <div class="payment-content">
                                    <p><a href="https://secure1.paymentus.com/rotp/www/terms-and-conditions-no-fee.html"
                                            target="_blank">Click to read the Payment Authorization Terms</a></p>
                                    <p><input type="checkbox" id="checkbox" value="isauth" name="checkbox"
                                            [(ngModel)]="ischeck" required> I authorize payment and agree
                                        to the Payment Authorization Terms
                                    </p>
                                    <p>Click the PAY button to complete your payment.</p>
                                </div>
                                <div class="form-row formBtn">
                                    <button type="submit" class="btn btn-default" [disabled]="dateSelect.invalid">Pay
                                        {{this.billamount}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isPayDateEcheckPayemnt">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="confirmEcheckPyment()">
                        <div class="authForm confirm-payment-form">
                            <div class="paxcel-main-heading main-heading">Confirm Payment
                            </div>
                            <div>
                                <ul class="payment-details">
                                    <li><strong>Account Number</strong> <span>{{this.cardNumber}}</span></li>
                                </ul>
                                <div class="total-payment"><strong>Payment Amount</strong>
                                    <span>{{this.billamount}}</span>
                                </div>
                                <div class="payment-content">
                                    <p><a href="https://secure1.paymentus.com/rotp/www/terms-and-conditions-no-fee.html"
                                            target="_blank">Click to read the Payment Authorization Terms</a></p>
                                    <p><input type="checkbox" id="checkbox" value="isauth" name="checkbox"
                                            [(ngModel)]="ischeck" required> I <b>Authorize</b> payment from the account you have specified. This authorization will remain in effect until you cancel it through the Customer Portal or by calling your biller's customer service number. The cancellation request must be received at least 3 business days before the next scheduled payment date.
                                    </p>
                                    <p>Click the PAY button to complete your payment.</p>
                                </div>
                                <div class="form-row formBtn">
                                    <button type="submit" class="btn btn-default" [disabled]="dateSelect.invalid">Pay
                                        {{this.billamount}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isPaymentInfo">
                    <form novalidate #pay="ngForm" (ngSubmit)="payementInfo()">
                        <div class="authForm payment-info-form">
                            <div class="security-icon">
                                <img src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/security-icon.png"
                                    alt="Secure Payment" title="Secure Payment">
                            </div>
                            <div class="paxcel-main-heading main-heading">Enter Payment
                                Information
                            </div>
                            <div class="form-row-inner">
                                <div ngModelGroup="firstName" class="form-row">
                                    <div class="wrap-input100" [ngClass]="{
                  'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
                  'has-success': firstName.valid && (firstName.dirty || firstName.touched)
                  }">
                                        <input type="text" class="input100" id="firstName" name="firstName"
                                            [(ngModel)]="payInfo.firstName" required #firstName="ngModel" placeholder=""
                                            autocomplete="off">
                                        <label for="firstName">First Name</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                                        <span *ngIf="firstName.errors.required">First name is required</span>
                                    </div>
                                </div>
                                <div ngModelGroup="lastName" class="form-row">
                                    <div class="wrap-input100" [ngClass]="{
                  'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
                  'has-success': lastName.valid && (lastName.dirty || lastName.touched)
                  }">
                                        <input type="text" class="input100" id="lastName" name="lastName"
                                            [(ngModel)]="payInfo.lastName" required #lastName="ngModel" placeholder=""
                                            autocomplete="off">
                                        <label for="lastName">Last Name</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                                        <span *ngIf="lastName.errors.required">Last name is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="wrap-input100" [ngClass]="{
               'has-danger': email.invalid && (email.dirty || email.touched),
               'has-success': email.valid && (email.dirty || email.touched)
               }">
                                    <input type="email" class="input100" id="email" name="email"
                                        [(ngModel)]="payInfo.email" required autocomplete="off"
                                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel"
                                        placeholder="">
                                    <label for="email">Email Id</label>
                                </div>
                                <div class="error-Message" *ngIf="email.errors && (email.dirty || email.touched)">
                                    <span *ngIf="email.errors.required">Email is required</span>
                                    <span *ngIf="email.errors.pattern">Please enter a valid email</span>
                                </div>
                            </div>
                            <div class="form-row-inner">
                                <div class="form-row" ngModelGroup="phoneNumber">
                                    <div class="wrap-input100" [ngClass]="{
                  'has-danger': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched),
                  'has-success': phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)
                  }">
                                        <input type="text" class="input100" id="phoneNumber" name="phoneNumber"
                                            [(ngModel)]="payInfo.phoneNumber" required autocomplete="off"
                                            pattern="[0-9]*" minlength="10" maxlength="10" #phoneNumber="ngModel"
                                            placeholder="">
                                        <label for="phoneNumber">Phone Number</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)">
                                        <span *ngIf="phoneNumber.errors.required">Phone number is required</span>
                                        <span *ngIf="phoneNumber.errors.pattern">Please enter a valid phone
                                            number</span>
                                        <span *ngIf="phoneNumber.errors.minlength">Not a valid 10 digit no.</span>
                                        <span *ngIf="phoneNumber.errors.maxlength">Not a valid 10 digit no.</span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="wrap-input100" [ngClass]="{
                  'has-danger': zipCode.invalid && (zipCode.dirty || zipCode.touched),
                  'has-success': zipCode.valid && (zipCode.dirty || zipCode.touched)
                  }">
                                        <input type="text" class="input100" pattern="[0-9]*" id="zipCode" name="zipCode"
                                            [(ngModel)]="payInfo.zipCode" required autocomplete="off" #zipCode="ngModel"
                                            placeholder="">
                                        <label for="zipCode">Zip Code</label>
                                    </div>
                                    <div class="error-Message"
                                        *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)">
                                        <span *ngIf="zipCode.errors.required">Zip code is required</span>
                                        <span *ngIf="zipCode.errors.pattern">Please enter a valid zip code</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="pay.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm  margin-bottom-zero" id="leadfrom" *ngIf=" this.ispaydate ">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="selectDate()">
                        <div class="authForm payment-date-form">
                            <div class="paxcel-main-heading main-heading">Would you like to
                                make payment
                            </div>
                            <div class="form-row last-row">
                                <div class="wrap-input100">
                                    <input type="text" #date="ngModel" id="dateDefault" name="date" placeholder=""
                                        [(ngModel)]="date.date" [min]="mindate" class="input-date input100"
                                        [matDatepicker]="date_Picker" (ngModelChange)="updateCalcs($event)" required />
                                    <label for="dateDefault">MM/DD/YYYY</label>
                                    <div class="payment-calendar-icon">
                                        <mat-datepicker-toggle [for]="date_Picker"></mat-datepicker-toggle>
                                        <mat-datepicker #date_Picker></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="dateSelect.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isaccount">
                    <form novalidate (ngSubmit)="accountNumberStore()" #account="ngForm">
                        <div class="authForm">
                            <div class="paxcel-main-heading">Enter Account Number</div>
                            <div ngModelGroup="accountNumber" class="form-row">
                                <div class="wrap-input100" [ngClass]="{
               'has-danger': accountNumber.invalid && (accountNumber.dirty || accountNumber.touched),
               'has-success': accountNumber.valid && (accountNumber.dirty || accountNumber.touched)
               }">
                                    <input type="text" class="input100" id="accountNumber" name="accountNumber"
                                        [(ngModel)]="accountInfo.accountNumber" required #accountNumber="ngModel"
                                        placeholder="" autocomplete="off">
                                    <label for="accountNumber">Account Number</label>
                                </div>
                                <div class="error-Message"
                                    *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched)">
                                    <span *ngIf="accountNumber.errors.required">Account number is required</span>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="account.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isaccountNumber">
                    <form novalidate (ngSubmit)="accountNumberEntered()" #account="ngForm">
                        <div class="authForm">
                            <div class="paxcel-main-heading">Enter Account Number</div>
                            <div ngModelGroup="accountNumber" class="form-row">
                                <div class="wrap-input100" [ngClass]="{
               'has-danger': accountNumber.invalid && (accountNumber.dirty || accountNumber.touched),
               'has-success': accountNumber.valid && (accountNumber.dirty || accountNumber.touched)
               }">
                                    <input type="text" class="input100" id="accountNumber" name="accountNumber"
                                        [(ngModel)]="accountInfo.accountNumber" required #accountNumber="ngModel"
                                        placeholder="" autocomplete="off">
                                    <label for="accountNumber">Account Number</label>
                                </div>
                                <div class="error-Message"
                                    *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched)">
                                    <span *ngIf="accountNumber.errors.required">Account number is required</span>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="account.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="this.isaccount">
                    <div class="bubbles-wrapper" >
                        <div class="bubbles-inner category-frame">
                            <label class="bubbles" (click)="dontKnowAccountNo()"> don't know?
                        </label>
                        </div>
                    </div>
                </div>
                <div class="yes-no-btn-wrapper" [style.backgroundColor]="this.headerBgColor" style="display: none;">
                    <div class="yes-no-btn-inner">
                        <div class="column">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="23px"
                                height="23px" class="edit-icon">
                                <g>
                                    <g>
                                        <g>
                                            <path
                                                d="m119.2,114.3h-109.4c-2.3,0-4.1,1.9-4.1,4.1s1.9,4.1 4.1,4.1h109.5c2.3,0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1z"
                                                data-original="#000000" class="active-path" data-old_color="#000000"
                                                fill="#305c8f" />
                                            <path
                                                d="m5.7,78l-.1,19.5c0,1.1 0.4,2.2 1.2,3 0.8,0.8 1.8,1.2 2.9,1.2l19.4-.1c1.1,0 2.1-0.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9l-19.2-19.4c-1.6-1.6-4.2-1.6-5.9-1.77636e-15l-13.4,13.5-53.6,53.5c-0.7,0.8-1.2,1.8-1.2,2.9zm71.2-61.1l13.5,13.5-7.6,7.6-13.5-13.5 7.6-7.6zm-62.9,62.9l49.4-49.4 13.5,13.5-49.4,49.3-13.6,.1 .1-13.5z"
                                                data-original="#000000" class="active-path" data-old_color="#000000"
                                                fill="#305c8f" />
                                        </g>
                                    </g>
                                </g>
                            </svg>

                        </div>
                        <div class="column text-right">
                            <label [ngStyle]="{backgroundColor: hovered===i  ? 'white' :this.headerBgColor }"
                                [style.color]="agentTextColor" [style.border]="'1px solid ' + agentTextColor"
                                class="button">Yes</label>
                            <label [ngStyle]="{backgroundColor: hovered===i  ? 'white' :this.headerBgColor }"
                                [style.color]="agentTextColor" [style.border]="'1px solid ' + agentTextColor"
                                class="button">No</label>
                        </div>
                    </div>
                </div>
                <div class="userDetailsForm  margin-bottom-zero" id="leadfrom" *ngIf="isDayDrop">
                    <form novalidate #daySelect="ngForm" (ngSubmit)="selectDay()">
                        <div class="authForm payment-date-form">
                            <div class="paxcel-main-heading main-heading">Select Day
                            </div>
                            <div class="form-row-inner">
                                <div class="form-row last-row">
                                    <mat-form-field>
                                        <mat-label>Select Day</mat-label>
                                        <mat-select [(value)]="daySelect.dayVal"
                                        (selectionChange)="eventSelection($event.value)">

                                            <mat-option value="1">1</mat-option>
                                            <mat-option value="2">2</mat-option>
                                            <mat-option value="3"> 3</mat-option>
                                            <mat-option value="4"> 4</mat-option>
                                            <mat-option value="5">5</mat-option>
                                            <mat-option value="6">6</mat-option>
                                            <mat-option value="7">7</mat-option>
                                            <mat-option value="8">8</mat-option>
                                            <mat-option value="9">9</mat-option>
                                            <mat-option value="10">10</mat-option>
                                            <mat-option value="11">11</mat-option>
                                            <mat-option value="12">12</mat-option>
                                            <mat-option value="13">13</mat-option>
                                            <mat-option value="14">14</mat-option>
                                            <mat-option value="15">15 </mat-option>
                                            <mat-option value="16">16</mat-option>
                                            <mat-option value="17">17</mat-option>
                                            <mat-option value="18">18 </mat-option>
                                            <mat-option value="19">19</mat-option>
                                            <mat-option value="20">20</mat-option>
                                            <mat-option value="21">21</mat-option>
                                            <mat-option value="22">22</mat-option>
                                            <mat-option value="23">23</mat-option>
                                            <mat-option value="24">24 </mat-option>
                                            <mat-option value="25">25</mat-option>
                                            <mat-option value="26">26</mat-option>
                                            <mat-option value="27">27 </mat-option>
                                            <mat-option value="28">28 </mat-option>
                                            <mat-option value="29">29</mat-option>
                                            <mat-option value="30">30</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="daySelect.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" id="leadfrom" *ngIf="isConfirmAutoPay">
                    <form novalidate #dateSelect="ngForm" (ngSubmit)="confirmAutoPyment()">
                        <div class="authForm confirm-payment-form">
                            <div class="paxcel-main-heading main-heading">Confirm Payment
                            </div>
                            <div>
                                <ul class="payment-details">
                                    <li><strong>Payment Method</strong> <span><img
                                                src="http://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/visa_64.png"
                                                class="visa-img">{{this.cardNumber}}</span></li>
                                                <li><strong>Due Date</strong> <span>{{this.duedate}}</span></li>
                                </ul>

                                <div class="payment-content">
                                    <p><a href="https://secure1.paymentus.com/rotp/www/terms-and-conditions-no-fee.html"
                                            target="_blank">Click to read the Payment Authorization Terms</a></p>
                                    <p><input type="checkbox" id="checkbox" value="isauth" name="checkbox"
                                            [(ngModel)]="ischeck" required> I authorize payment and agree
                                        to the Payment Authorization Terms
                                    </p>
                                    <p>Click the PAY button to complete your payment.</p>
                                </div>
                                <div class="form-row formBtn">
                                    <button type="submit" class="btn btn-default"
                                        [disabled]="dateSelect.invalid">Confirm

                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" *ngIf="isEmail" id="leadfrom">
                    <form novalidate (ngSubmit)="enterRegisterEmail()" #emailAddress="ngForm">
                        <div class="authForm">
                            <div class="paxcel-main-heading">Enter Email
                            </div>
                            <div ngModelGroup="emailAddress" class="form-row">
                                <div class="wrap-input100" [ngClass]="{
                    'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched),
                    'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
                    }">
                                    <input type="text" class="input100" name="emailAddress"
                                        [(ngModel)]="emailAdd.emailAddress" required #emailAddress="ngModel"
                                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                        placeholder="Enter email" autocomplete="off">
                                </div>
                                <div class="error-Message"
                                    *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
                                    <span *ngIf="emailAddress.errors.required">email is
                                        required</span>
                                </div>
                            </div>
                            <div class="form-row formBtn">
                                <button type="submit" class="btn btn-default" [disabled]="emailAddress.invalid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="userDetailsForm margin-bottom-zero" *ngIf="iscreditCard">
                    <form novalidate (ngSubmit)="userInfo()" #credit="ngForm">
                        <div class="authForm card-details-authForm">
                            <div class="paxcel-main-heading">Card Details
                            </div>
                            <div class="form-row">
                                <div class="wrap-input100">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129"
                                        width="23px" height="23px" class="edit-icon">
                                        <g>
                                            <g>
                                                <g>
                                                    <path
                                                        d="m119.2,114.3h-109.4c-2.3,0-4.1,1.9-4.1,4.1s1.9,4.1 4.1,4.1h109.5c2.3,0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1z"
                                                        data-original="#000000" class="active-path"
                                                        data-old_color="#000000" fill="#305c8f" />
                                                    <path
                                                        d="m5.7,78l-.1,19.5c0,1.1 0.4,2.2 1.2,3 0.8,0.8 1.8,1.2 2.9,1.2l19.4-.1c1.1,0 2.1-0.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9l-19.2-19.4c-1.6-1.6-4.2-1.6-5.9-1.77636e-15l-13.4,13.5-53.6,53.5c-0.7,0.8-1.2,1.8-1.2,2.9zm71.2-61.1l13.5,13.5-7.6,7.6-13.5-13.5 7.6-7.6zm-62.9,62.9l49.4-49.4 13.5,13.5-49.4,49.3-13.6,.1 .1-13.5z"
                                                        data-original="#000000" class="active-path"
                                                        data-old_color="#000000" fill="#305c8f" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <input type="text" class="input100" (keypress)="NumaricValidation($event)"
                                        name="cardNumber" id="cardNumber" placeholder="" #cardNumber="ngModel"
                                        [(ngModel)]="creditCard.cardNumber" autocomplete="off" required>
                                    <label for="cardNumber" class="card-number-label">Card Number</label>

                                </div>
                                <div class="error-Message first-lable"
                                    *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)">
                                    <span *ngIf="cardNumber.errors.required">Card Number is required</span>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="wrap-input100">
                                    <div class="two-column">
                                        <div class="column-inner">
                                            <input type="text" class="input100" #mmexp="ngModel" id="mmexp" name="mmexp"
                                                placeholder="" [(ngModel)]="creditCard.mmexp" autocomplete="off"
                                                (keypress)="NumaricValidation($event)" maxlength="2" required>
                                            <label for="mmexp">Month</label>
                                            <div class="error-Message"
                                                *ngIf="mmexp.errors && (mmexp.dirty || mmexp.touched)">
                                                <span *ngIf="mmexp.errors.required">Month is required</span>
                                            </div>
                                            <div class="error-Message" *ngIf="creditCard.mmexp>=13">
                                                <span>Enter Valid Month</span>
                                            </div>
                                        </div>


                                        <div class="column-inner">
                                            <input type="text" class="input100" #yyexp="ngModel" id="yyexp" name="yyexp"
                                                placeholder="" maxlength="4" [(ngModel)]="creditCard.yyexp"
                                                (keypress)="NumaricValidation($event)" autocomplete="off" required>
                                            <label for="yyexp">Year</label>
                                            <div class="error-Message"
                                                *ngIf="yyexp.errors && (yyexp.dirty || yyexp.touched)">
                                                <span *ngIf="yyexp.errors.required">Year is required</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="two-column">
                                        <input type="password" (keypress)="NumaricValidation($event)" class="input100"
                                            name="cvv" id="cvv" #cvv="ngModel" placeholder=""
                                            [(ngModel)]="creditCard.cvv" autocomplete="off" required>
                                        <label for="cvv">CVV</label>
                                        <div class="error-Message" *ngIf="cvv.errors && (cvv.dirty || cvv.touched)">
                                            <span *ngIf="cvv.errors.required">CVV is required</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-row card-details-lastrow">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" #cardHolderName="ngModel" id="cardHolderName"
                                        name="cardHolderName" [(ngModel)]="creditCard.cardHolderName" placeholder=""
                                        autocomplete="off" required>
                                    <label for="cardHolderName">Name on Card</label>
                                    <button class="btn btn-sm send form-submit-btn" type="submit"
                                        [disabled]="credit.invalid">
                                        <!-- <i aria-hidden="true" class="fa fa-play-circle-o"></i> -->
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
                                            viewBox="0 0 192.000000 192.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,192.000000) scale(0.100000,-0.100000)"
                                                fill="#305c8f" stroke="none">
                                                <path d="M760 1905 c-357 -80 -630 -337 -732 -691 -20 -69 -23 -101 -23 -254
0 -153 3 -185 23 -254 97 -334 344 -581 678 -678 69 -20 101 -23 254 -23 153
0 185 3 254 23 335 97 581 343 678 678 20 69 23 101 23 254 0 153 -3 185 -23
254 -96 332 -343 580 -673 677 -97 28 -359 36 -459 14z m355 -106 c244 -43
467 -205 593 -429 139 -248 139 -571 0 -820 -154 -276 -434 -441 -748 -441
-275 0 -516 121 -687 346 -195 256 -220 632 -61 915 182 325 536 493 903 429z" />
                                                <path d="M602 1193 l3 -158 170 -23 c94 -12 230 -30 304 -40 l133 -18 -148
-18 c-82 -11 -219 -29 -304 -40 l-155 -21 -3 -158 c-2 -132 0 -158 11 -155 43
10 906 385 906 393 0 8 -863 383 -906 393 -11 3 -13 -23 -11 -155z" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                                <div class="error-Message"
                                    *ngIf="cardHolderName.errors && (cardHolderName.dirty || cardHolderName.touched)">
                                    <span *ngIf="cardHolderName.errors.required">Name on Card is required</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bubbles-wrapper" *ngIf="bubbleArr.length > 0">
                    <div class="bubbles-inner category-frame">
                        <label *ngFor="let bubble of this.bubbleArr; let i = index" (mouseover)="hovered = i"
                            (mouseout)="hovered = -1" class="bubbles" (click)="bubbleClicked(bubble.value.input.text);">{{
         bubble.label}}</label>
                    </div>
                </div>
                <form *ngIf="isTextHide" (keydown)="keyDownFunction($event, inputMessage.value)" class="formchatOuter">
                    <div class="form-chat">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control chetInput" [(ngModel)]="addChat.inputMessage"
                                name="inputMessage" #inputMessage="ngModel" autocomplete="off"
                                placeholder="Type message here">
                            <span class="input-group-btn">
                                <button [ngStyle]="headerTextColor" class="btn btn-sm send" type="submit"
                                    (click)="onSubmit(addChat)">
                                    <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
                                        viewBox="0 0 192.000000 192.000000" preserveAspectRatio="xMidYMid meet">
                                        <g transform="translate(0.000000,192.000000) scale(0.100000,-0.100000)"
                                            fill="#305c8f" stroke="none">
                                            <path d="M760 1905 c-357 -80 -630 -337 -732 -691 -20 -69 -23 -101 -23 -254
0 -153 3 -185 23 -254 97 -334 344 -581 678 -678 69 -20 101 -23 254 -23 153
0 185 3 254 23 335 97 581 343 678 678 20 69 23 101 23 254 0 153 -3 185 -23
254 -96 332 -343 580 -673 677 -97 28 -359 36 -459 14z m355 -106 c244 -43
467 -205 593 -429 139 -248 139 -571 0 -820 -154 -276 -434 -441 -748 -441
-275 0 -516 121 -687 346 -195 256 -220 632 -61 915 182 325 536 493 903 429z" />
                                            <path d="M602 1193 l3 -158 170 -23 c94 -12 230 -30 304 -40 l133 -18 -148
-18 c-82 -11 -219 -29 -304 -40 l-155 -21 -3 -158 c-2 -132 0 -158 11 -155 43
10 906 385 906 393 0 8 -863 383 -906 393 -11 3 -13 -23 -11 -155z" />
                                        </g>
                                    </svg>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Feedback form code start here -->

    <div *ngIf="isfeedback" class="feedback-modal">
        <div class="feedback-scale-on-mount">
            <div class="feedback-modal-wrapper">
                <div class="feedback-modal-header-text">Feedback</div>
                <div class="feedback-modal-inner-wrapper">
                    <img (click)="FeedbackForm()" class="feedback-modal-cancel"
                        src="https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/close-button.png">

                    <form novalidate (ngSubmit)="feedBackSubmit()" #feedBack="ngForm">
                        <div class="feedback-input-wrapper">
                            <!-- <input type="text" class="feedback-signin-input" formcontrolname="name" placeholder="Your Name*" value=""> -->
                            <textarea class="feedback-signin-input" rows="3" cols="" name="textarea" id="textarea"
                                placeholder="Type text here..." value="" [(ngModel)]="FeedBack.feedBack" required
                                #feedBack="ngModel" autocomplete="off"></textarea>
                        </div>
                        <div>
                            <button class="feedback-invalid-btn feedback-validate-btn"
                                [disabled]="feedBack.invalid">Submit</button>
                        </div>
                        <div *ngIf="isfeedSuccess" style="text-align: center;
                        margin-top: 10px;
                        color: green;">
                          feedback sent successfully
                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
<div id="small-chat">
    <div *ngIf="this.closeIconImg" class="chat-with-executive">
    </div>
    <a class="open-small-chat icon1" [ngStyle]="{'background-image': 'url(' + chatWidgetUrl + ')'}" id="chatIcon"
        (click)="chatBotvisibility()" [class.icon1]="!isChatBotvisibility " [class.icon2]="isChatBotvisibility">
    </a>
</div>
