@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700");
@import url("../../node_modules/font-awesome/css/font-awesome.css");
* {
	padding: 0px;
	margin: initial;
	z-index: 100000000000 !important;
}

body {
	font-weight: 400 !important;
}

.chatbotFrame {
	right: 35px;
	position: fixed !important;
	bottom: 20px;
	z-index: 9999999999!important;
	height: calc(100% - 20px - 20px);
	width: 375px !important;
	max-height: 600px !important;
	/* box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important; */
	-webkit-box-shadow: 2px 3px 10px 1px rgba(48, 92, 143, .4), 3px 5px 30px 6px rgba(48, 92, 143, .2);
	-moz-box-shadow: 2px 3px 10px 1px rgba(48, 92, 143, .4), 3px 5px 30px 6px rgba(48, 92, 143, .2);
	box-shadow: 2px 3px 10px 1px rgba(48, 92, 143, .4), 3px 5px 30px 6px rgba(48, 92, 143, .2);
	border-radius: 4px !important;
	overflow: hidden !important;
	opacity: 1 !important;
	bottom: calc(20px + 0px);
	background-color: rgba(48, 92, 143, 0.1);
	background-color: #EAEFF4;
}

.botframe-animation2 {
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
	-webkit-animation: window--adaptive--opening 0.2s linear none;
	animation: window--adaptive--opening 0.2s linear none;
}

@-webkit-keyframes window--opening {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	99.999999% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes window--opening {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	99.999999% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes window--adaptive--opening {
	0% {
		opacity: 0.666667;
		-webkit-transform: scale(0.666667);
		transform: scale(0.666667);
	}
	99.999999% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes window--adaptive--opening {
	0% {
		opacity: 0.666667;
		-webkit-transform: scale(0.666667);
		transform: scale(0.666667);
	}
	99.999999% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes window--minimizing {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes window--minimizing {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0;
	}
}

@-webkit-keyframes window--adaptive--minimizing {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.666667);
		transform: scale(0.666667);
		opacity: 0;
	}
}

@keyframes window--adaptive--minimizing {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.666667);
		transform: scale(0.666667);
		opacity: 0;
	}
}

::placeholder {
	color: #ccc;
}

.small-chat-box .paxcel-heading {
	height: 56px;
	line-height: 56px;
	padding: 0px 16px 0px 16px !important;
	font-weight: 400 !important;
	font-size: 19px !important;
	margin: 0px;
	text-align: left;
	/* font-family: "Raleway", Arial, Helvetica, sans-serif !important; */
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	z-index: 2;
	position: relative;
	display: flex;
	/* -webkit-box-shadow: 0 8px 6px -6px #bcccda;
	-moz-box-shadow: 0 8px 6px -6px #bcccda;
	box-shadow: 0 8px 6px -6px #bcccda; */
	border-bottom: 1px solid #ACBED2;
	background-color: #EAEFF4;
	color: #305c8f;
}

/* .symbol-background {
	background-image: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/symbol-img.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 76px;
} */

.user-chatbox {
	font-weight: normal;
}

.small-chat-box .paxcel-heading i {
	font-size: 16px;
	margin-right: 0px;
}

.small-chat-box .paxcel-heading .buttonicon {
	background: none;
	border: none;
	cursor: pointer;
}

.small-chat-box .paxcel-heading .buttonicon i {
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}

.small-chat-box .chat-date {
	font-size: 10px !important;
	font-weight: 400 !important;
	margin-top: 6px !important;
	float: right !important;
}

.small-chat-box .fa-expand {
	font-size: 15px !important;
	margin-right: 10px !important;
	cursor: w-resize;
}

.small-chat-box .chat-date i {
	margin-right: 0px;
}

.small-chat-box .content {
	padding: 16px 16px 16px 16px;
	width: auto;
}

.small-chat-box .content .left {
	clear: both;
	position: relative;
	margin-bottom: 16px;
	width: 100%;
}

.small-chat-box .content .right .chat-message::after {
	right: 10px !important;
	top: 35px !important;
	content: " ";
	height: 13px;
	width: 30px;
	position: absolute;
	background-position: center top;
	background-repeat: no-repeat;
}

.small-chat-box .content .right::before {
	display: none;
}

.small-chat-box .content>div {
	padding-bottom: 5px;
}

.left {
	float: left;
}

.small-chat-box .content .author-name {
	animation: scaleIn 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: left bottom;
	display: -ms-flexbox;
	display: block;
	position: absolute;
	width: 37px;
	height: 37px;
	top: 0px;
	left: 10px;
}

.small-chat-box .content #userImage {
	animation: scaleIn 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: left bottom;
	display: -ms-flexbox;
	display: block;
	position: absolute;
	width: 37px;
	height: 37px;
	top: 0px;
	right: 10px;
	z-index: 1;
}

.small-chat-box .content .left .chat-message {
	float: left;
	margin-left: 38px;
	margin-top: 0px;
	/* margin-right: 79px; */
	text-align: left;
	/* border-radius: 0px 20px 20px 20px;
	-webkit-box-shadow: 0 0 10px #bfcedc;
	box-shadow: 2px 2px 10px #bfcedc; */
	border-top-left-radius: 0px;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
}

.small-chat-box .content .left .chat-message p {
	margin-bottom: 0px;
	margin-top: 0px;
	word-break: keep-all;
}

.small-chat-box .content .chat-message {
	border-radius: 0px;
	font-size: 14px;
	line-height: 18px;
	max-width: 260px;
	min-width: 40px;
	margin-bottom: 0px;
	word-break: break-word;
	padding: 16px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.small-chat-box .content .linkText {
	font-size: 13px;
	color: #55bbfc;
	text-decoration: none;
}

.small-chat-box .content .linkText:hover {
	color: #66696b;
	text-decoration: underline;
}

.arrow-up {
	border: 2px solid #dad7d7;
}

.small-chat-box .content .right {
	text-align: right;
	clear: both;
	position: relative;
}

.right {
	float: right;
}

.small-chat-box .content .right .chat-message {
	float: right;
	margin-right: 0px !important;
	/* border-radius: 20px 20px 0px 20px !important; */
	border-top-left-radius: 16px!important;
	border-top-right-radius: 16px!important;
	border-bottom-right-radius: 0px!important;
	border-bottom-left-radius: 16px!important;
	margin-left: 64px !important;
	margin-top: 0px !important;
	/* -webkit-box-shadow: 0 0 10px #bfcedc!important;
	box-shadow: 2px 2px 10px #bfcedc!important; */
	-webkit-box-shadow: 2px 3px 10px 1px rgba(48, 92, 143, .25), 3px 5px 20px 6px rgba(48, 92, 143, .1)!important;
	box-shadow: 2px 3px 10px 1px rgba(48, 92, 143, .25), 3px 5px 20px 6px rgba(48, 92, 143, .1)!important;
}

.form-chat {
	background-color: #ffffff;
}

.form-chat-inner {
	padding: 15px !important;
	border-radius: 0px !important;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-bottom: 0px;
	width: 100%;
}

.small-chat-box .chetInput {
	border-radius: 0px;
	font-size: 14px !important;
	padding: 16px!important;
	padding-right: 55px!important;
	border-top: 0px solid #dadada !important;
	border: none;
	background-color: #E0E7EE;
	transition: all 0.2s ease-in-out;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	color: rgba(48, 92, 143, 1);
	box-shadow: none!important;
	outline: none;
	line-height: normal !important;
	min-height: 56px !important;
	cursor: auto;
}

/* .chetInput:focus {
	border-color: #06639e;
} */

/* .small-chat-box .chetInput:focus {
	background-color: #fff;
	-webkit-box-shadow: 0 0 100px 0 rgba(39, 35, 35, 0.1);
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
} */

/* .small-chat-box .chetInput:focus+span .send {
	background-image: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/send-icon2.png);
} */

.small-chat-box .chetInput::-webkit-input-placeholder {
	color: rgba(48, 92, 143, 0.75) !important;
}

.small-chat-box .chetInput:-moz-placeholder {
	color: rgba(48, 92, 143, 0.75) !important;
}

.small-chat-box .chetInput::-moz-placeholder {
	color: rgba(48, 92, 143, 0.75) !important;
}

.small-chat-box .chetInput:-ms-input-placeholder {
	color: rgba(48, 92, 143, 0.75) !important;
}

.send {
	/* width: 22px;
	height: 22px; */
	position: absolute !important;
	top: 16px;
	border: none;
	background: none;
	right: 16px;
	/* z-index: 5; */
	cursor: pointer;
	outline: none;
	/* box-shadow: none; */
	/* -webkit-transition: all 0.2s ease-in-out; */
	/* background-image: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/send-icon.png); */
	/* background-position: center top;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	font-size: 26px;
	color: #2a5284; */
}

#small-chat {
	position: fixed !important;
	bottom: 20px !important;
	right: 35px !important;
	z-index: 999999 !important;
	cursor: pointer !important;
}

#small-chat .badge {
	position: absolute;
	top: -3px;
	right: -4px;
}

#small-chat .badge-warning {
	background-color: #ff7588;
	color: #ffffff;
	border-radius: 12px !important;
	font-size: 11px !important;
	font-weight: 300;
	height: 18px;
	padding: 3px 6px;
	text-align: center;
	text-shadow: none;
}

#small-chat .open-small-chat {
	height: 60px !important;
	width: 60px !important;
	background-color: #ffffff !important;
	display: block !important;
	text-align: left !important;
	cursor: pointer !important;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 32px rgba(0, 0, 0, 0.2);
	transition: 0.1s ease-in-out;
	border-radius: 50% !important;
	float: right !important;
	margin-top: 8px !important;
	margin-bottom: 0px !important;
	border: 1px solid #e2e1e1 !important;
}

#small-chat .open-small-chat:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 40px rgba(0, 0, 0, 0.3);
}

#small-chat .icon1 {
	background-position: 15px 15px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	animation: glowing2 1500ms infinite !important;
}

#small-chat .icon2 {
	background-position: 22px 22px;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	animation: glowing2 1500ms infinite !important;
}

@-webkit-keyframes glowing2 {
	0% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
	50% {
		-webkit-box-shadow: 0 0 40px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
}

@-moz-keyframes glowing2 {
	0% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
	50% {
		-webkit-box-shadow: 0 0 40px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
}

@-o-keyframes glowing2 {
	0% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
	50% {
		-webkit-box-shadow: 0 0 40px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
}

@keyframes glowing2 {
	0% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
	50% {
		-webkit-box-shadow: 0 0 40px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 3px #ffffff;
	}
}

.small-chat-box .btmIcons {
	width: 100%;
	padding: 7px 0px;
}

.small-chat-box .btmIcons i {
	font-size: 18px;
	color: #55bbfc;
	margin-right: 10px;
	cursor: pointer;
	margin-left: 0px;
}

.small-chat-box .btmIcons i:nth-child(3) {
	margin-right: 0px;
}

.small-chat-box .btmIcons i:hover {
	color: #66696b;
}

/* .main-scrollbar {
	z-index: 1 !important;
	position: absolute !important;
	top: 52px !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
	height: calc(100% - 214px) !important;
	margin-top: 0px !important;
	overflow-y: auto !important;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch !important;
	background-color: #ffffff !important;
} */

.main-scrollbar::-webkit-scrollbar {
	width: 7px;
	background-color: #d5d5d5;
}

.main-scrollbar::-webkit-scrollbar-thumb {
	background-color: #bebebe;
}

@-webkit-keyframes kb {
	0%, 40%, to {
		-webkit-transform: translateY(-0.4rem);
		transform: translateY(-0.4rem);
	}
	20% {
		-webkit-transform: translateY(-0.7rem);
		transform: translateY(-0.7rem);
	}
}

@keyframes kb {
	0%, 40%, to {
		-webkit-transform: translateY(-0.4rem);
		transform: translateY(-0.4rem);
	}
	20% {
		-webkit-transform: translateY(-0.7rem);
		transform: translateY(-0.7rem);
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.context-box {
	width: 100%;
	position: absolute;
	bottom: 34px;
	right: 0px;
	left: 0px;
	border-right: none;
	border-radius: 5px 5px 0px 0px !important;
	margin: 0px auto;
	z-index: 999999;
}

.context-box .contextInner {
	margin: 0px 20px;
	background-color: #fefefe;
	border: 1px solid #cecece;
	border-radius: 5px 5px 0px 0px;
}

.context-box .heading {
	font-size: 15px !important;
	font-weight: 600;
	color: #ffffff !important;
	margin-bottom: 10px;
	text-align: left;
	background: #135278;
	padding: 7px 15px !important;
	border-radius: 5px 5px 0px 0px !important;
}

.context-box .heading i {
	font-size: 20px;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 2px;
	float: left;
}

.context-box .heading i:last-child {
	font-size: 14px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 3px;
	cursor: pointer;
}

.context-box .orderList {
	padding: 0px;
	margin: 0px 15px 8px 15px;
	border-bottom: 1px solid #e6e9eb;
	padding-bottom: 8px;
}

.context-box .listItem {
	font-size: 14px;
	color: #666666;
	list-style: none;
	border-bottom: 1px solid #e6e9eb;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}

.context-box .listItem:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.contextbtn {
	width: 137px;
	padding: 8px 0px;
	background-color: #ec4135;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	color: black;
	text-align: center;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
	float: left;
	margin: 236px -49px 0px 0px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.contextbtn i {
	font-size: 20px;
	margin-left: 5px;
}

.scrollbar-contextbox {
	width: auto;
	position: relative;
	overflow-y: scroll;
	height: 235px;
	overflow-x: hidden;
	right: 1px;
}

.scrollbar-contextbox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #bbbcbf;
	background-color: #e8eaed;
}

.scrollbar-contextbox::-webkit-scrollbar {
	width: 4px;
	background-color: #e8eaed;
}

.scrollbar-contextbox::-webkit-scrollbar-thumb {
	background-color: #bbbcbf;
}

.bubblBox {
	float: left;
	width: auto;
	height: 15px;
	background-color: #ffffff;
	border: 1px solid #a78abe;
	text-align: center;
	color: #a78abe;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 1.3em;
	font-size: 11px;
	display: inline-block;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bubblBox label {
	font-weight: 500;
	margin-bottom: 0px;
	cursor: pointer;
}

.triangle-right {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	color: #fff;
	background: #075698;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background: -moz-linear-gradient(#2e88c4, #075698);
	background: -o-linear-gradient(#2e88c4, #075698);
	background: linear-gradient(#2e88c4, #075698);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bubblBox:hover {
	background-color: #39b962;
	color: #ffffff;
}

.bubblBox:hover+.bubblBox label {
	color: #ffffff;
}

.containerfrom textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.containerfrom input[type="submit"] {
	background-color: #d01022;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.containerfrom input[type="submit"]:hover {
	background-color: #d01022;
}

.containerfrom {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
}

/* .user-image {
	border: solid 1px #eaf0f6;
} */

.small-chat-box {
	/* background: white !important; */
	height: 100%;
}

.chetInput {
	border-radius: 3px;
	font-size: 14px !important;
	padding: 10px 34px 10px 10px !important;
	border: 1px solid #e6e9eb;
	background-color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	color: #666666;
	box-shadow: none;
	outline: none;
	font-weight: 400;
	line-height: normal !important;
	height: auto !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.chetInput::-webkit-input-placeholder {
	color: #666666 !important;
}

.chetInput:-moz-placeholder {
	color: #666666 !important;
}

.chetInput::-moz-placeholder {
	color: #666666 !important;
}

.chetInput:-ms-input-placeholder {
	color: #666666 !important;
}

.transparentInput {
	width: 360px;
	background-color: transparent !important;
}

@keyframes bounceIn {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

.input-position {
	margin-bottom: -17px !important;
}

.staticMessage {
	font-size: 11px;
	font: italic;
	font-style: italic;
}

.avtar-circle {
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
}

.authForm {
	background-color: #E0E7EE;
	/* border: solid 1px #e8eaed; */
	border-radius: 0px;
	clear: both;
	padding: 0px;
	padding-bottom: 10px;
	/* padding-top: 15px; */
	/* padding-bottom: 7px; */
	/* margin-left: 10px; */
	/* margin-right: 20px; */
	-webkit-animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	transform-origin: left bottom;
	/* box-shadow: 0 9px 0px 0px white, 0 -5px 0px 0px white, 4px 0 15px -11px rgba(202, 202, 202), -1px 0 15px 0px rgba(202, 202, 202); */
}

.authForm .paxcel-main-heading {
	font-size: 14px;
	font-weight: 500;
	color: #305c8f;
	/* margin-bottom: 15px; */
	border-bottom: solid 0px #e6e6e6;
	padding: 10px 10px;
	text-align: center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.authForm .form-group {
	margin-bottom: 15px;
}

.authForm label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 600;
	cursor: default;
	font-size: 14px;
}

.authForm .form-control {
	display: block;
	width: 100%;
	height: 25px;
	padding: 0px 2px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: solid 1px #e6e6e6;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.authForm .form-row {
	position: relative !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
	margin-bottom: 10px;
}

.error-Message {
	font-size: 11px;
	color: red;
	margin-top: 4px;
	text-align: left;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.formBtn .btn {
	width: 100% !important;
	height: auto !important;
	line-height: normal !important;
	color: white !important;
	padding: 6px 0px !important;
	border: none !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	outline: none !important;
	background-color: #305c8f !important;
	border: 1px solid #305c8f !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
	transition: all 0.3s ease-in-out;
}

.formBtn .btn:hover {
	background-color: #224a79 !important;
	border: 1px solid #224a79 !important;
	color: #ffffff !important;
}

.right-chatbox {
	float: right !important;
	margin-left: 15px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	border-radius: 20px !important;
	box-shadow: none !important;
	border-radius: 10px 5px 10px 10px !important;
}

.left-chatbox {
	float: left !important;
	margin-right: 50px !important;
}

@keyframes bounceIn2 {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-moz-keyframes bounceIn2 {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes bounceIn2 {
	0% {
		transform: scale(0.75, 0.75);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes scaleIn {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0px);
	}
}

@-moz-keyframes scaleIn {
	from {
		opacity: 0;
		-moz-transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-moz-transform: translate(0, 0px);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 40px);
		-moz-transform: translate(0, 40px);
		-ms-transform: translate(0, 40px);
		-o-transform: translate(0, 40px);
		transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0px);
		-moz-transform: translate(0, 0px);
		-ms-transform: translate(0, 0px);
		-o-transform: translate(0, 0px);
		transform: translate(0, 0px);
	}
}

.wrap-input100 {
	width: 100%;
	position: relative;
	margin-bottom: 0px;
	display: flex;
}

.wrap-input100 label {
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 10px;
	/* right: 0px; */
	color: #575757;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	font-size: 14px;
	font-weight: 600;
	z-index: 1;
	transition: all 0.2s ease-in;
}

.wrap-input100 input:focus+label, .wrap-input100 input:valid+label {
	top: 5px;
	font-size: 12px;
	color: #575757;
	background-position: 0 0;
}

.wrap-input100 .dropdown {
	position: static !important;
}

.input100 {
	font-size: 14px !important;
	font-weight: 600;
	color: #4e4e4e !important;
	line-height: 1.2 !important;
	display: block !important;
	width: 100% !important;
	height: auto !important;
	position: relative !important;
	background: #ffffff !important;
	padding: 22px 10px 10px 10px !important;
	outline: none !important;
	border: none;
	border-bottom: 1px solid #305c8f !important;
	border-radius: 3px 3px 0px 0px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	box-shadow: none;
	transition: all 0.2s ease-in-out !important;
	-webkit-transition: all 0.2s ease-in-out !important;
	-o-transition: all 0.2s ease-in-out !important;
}

/* .input100:focus, input:valid {
	border-bottom: 2px solid #305c8f !important;
} */

.payment-info-form .input100:focus, .payment-info-form input:valid {
	border-bottom: 2px solid #305c8f !important;
}

.authForm .input100:focus, .authForm input:valid {
	border-bottom: 2px solid #305c8f !important;
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 1px;
	background: #06639e;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.focus-input100::after {
	content: attr(data-symbol);
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	color: #adadad;
	font-size: 22px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	height: calc(100% - 19px);
	width: 27px;
	bottom: 5px;
	left: 0;
}

.input100:focus+.focus-input100::before {
	width: 100%;
}

.focus-input100::before {
	content: "";
	display: none;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 1px;
	background: #af5d38;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
	color: #06639e;
}

/* .userRequirements::after {
	background-image: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/subject-icon-01.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 19px;
}

.input100:focus+.userRequirements::after {
	background-image: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/subject-icon-02.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 19px;
} */

/* .name::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/name-icon.gif) 0px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
}

.input100:focus+.name::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/name-icon.gif) -20px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
	background-color: #ffffff;
}

.email::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/email-icon.gif) 0px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
}

.input100:focus+.email::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/email-icon.gif) -20px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
	background-color: #ffffff;
}

.phone::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/phone-icon.gif) 0px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
}

.input100:focus+.phone::after {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/phone-icon.gif) -20px 0px no-repeat;
	width: 20px !important;
	height: 20px !important;
	margin-left: 8px !important;
	background-color: #ffffff;
} */

/* .recaptcha {
	margin-bottom: 20px;
	margin-top: 20px;
} */

/* .suggestionMessage {
	background-color: #e0eefb;
	border: 1px solid #e0eefb !important;
	padding: 15px !important;
} */

.suggestionMessage .message-text {
	font-size: 15px !important;
	color: #000 !important;
	line-height: 28px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	font-weight: 400 !important;
}

@-webkit-keyframes scaleIn2 {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0px);
	}
}

@-moz-keyframes scaleIn2 {
	from {
		opacity: 0;
		-moz-transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-moz-transform: translate(0, 0px);
	}
}

@keyframes scaleIn2 {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 40px);
		-moz-transform: translate(0, 40px);
		-ms-transform: translate(0, 40px);
		-o-transform: translate(0, 40px);
		transform: translate(0, 40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0px);
		-moz-transform: translate(0, 0px);
		-ms-transform: translate(0, 0px);
		-o-transform: translate(0, 0px);
		transform: translate(0, 0px);
	}
}

.formBtn {
	margin-top: 10px;
	overflow: hidden;
	display: flex;
	width: auto;
	text-align: right;
}

.btn-default[disabled] {
	background-color: #305c8f !important;
	border: 1px solid #305c8f !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
	opacity: 0.5 !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.ask-rohit-text {
	width: 100%;
	text-align: center;
	font-size: 23px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 10px;
}

.caret-icon {
	margin-top: 8px;
	float: right;
}

.chat-with-executive {
	text-align: center;
	position: relative;
}

.chat-with-executive .help-img {
	margin-bottom: -36px;
	margin-bottom: -73px;
	margin-right: 70px;
}

.chat-with-executive .need-help {
	margin-bottom: 14px;
	margin-right: 60px;
	width: 135px;
	height: 120px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 7px 22px rgba(0, 0, 0, 0.1), 0 -3px 42px rgba(0, 0, 0, 0.1);
	box-shadow: 0 7px 22px rgba(0, 0, 0, 0.1), 0 -3px 42px rgba(0, 0, 0, 0.1);
}

.chat-with-executive .need-help .lakshmi-img {
	width: 62px;
	margin: 0px auto;
	height: 68px;
	display: flex;
}

.chat-with-executive .need-help .start-chat-btn {
	width: auto !important;
	height: auto !important;
	line-height: normal !important;
	color: white !important;
	padding: 9px 30px !important;
	border: none !important;
	border-radius: 20px !important;
	cursor: pointer !important;
	font-size: 13px !important;
	font-weight: 500 !important;
	outline: none !important;
	background-color: #4ad867 !important;
	border: 0px solid #3ac155 !important;
	margin-top: 17px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
	0% {
		background-color: #5a5959;
		-webkit-box-shadow: 0 0 3px #5a5959;
	}
	50% {
		background-color: #4ad867;
		-webkit-box-shadow: 0 0 40px #4ad867;
	}
	100% {
		background-color: #5a5959;
		-webkit-box-shadow: 0 0 3px #5a5959;
	}
}

@-moz-keyframes glowing {
	0% {
		background-color: #5a5959;
		-moz-box-shadow: 0 0 3px #5a5959;
	}
	50% {
		background-color: #4ad867;
		-moz-box-shadow: 0 0 40px #4ad867;
	}
	100% {
		background-color: #5a5959;
		-moz-box-shadow: 0 0 3px #5a5959;
	}
}

@-o-keyframes glowing {
	0% {
		background-color: #5a5959;
		box-shadow: 0 0 3px #5a5959;
	}
	50% {
		background-color: #4ad867;
		box-shadow: 0 0 40px #4ad867;
	}
	100% {
		background-color: #5a5959;
		box-shadow: 0 0 3px #5a5959;
	}
}

@keyframes glowing {
	0% {
		background-color: #5a5959;
		box-shadow: 0 0 3px #5a5959;
	}
	50% {
		background-color: #4ad867;
		box-shadow: 0 0 40px #4ad867;
	}
	100% {
		background-color: #5a5959;
		box-shadow: 0 0 3px #5a5959;
	}
}

.close-icon-outer {
	width: 15px !important;
	height: 15px !important;
	position: absolute !important;
	right: 54px !important;
	top: -8px !important;
}

.close-icon-outer img {
	box-shadow: 0 0 10px #fff !important;
	border-radius: 50% !important;
}

.header-wrapper {
	overflow: visible;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute !important;
	left: -11px !important;
	top: -6px !important;
}

.zoominheader {
	width: 15px;
	height: 15px;
	text-align: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-animation: zoomin 1s ease-in infinite;
	animation: zoomin 1s ease-in infinite;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	background-color: #5eba54;
	border: 1px solid #ffffff;
	border-radius: 50%;
}

.zoomoutheader {
	width: 15px;
	height: 15px;
	text-align: center;
	background: none;
	-webkit-animation: zoomout 1s ease-in infinite;
	animation: zoomout 1s ease-in infinite;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

@-webkit-keyframes zoomin {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomin {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes zoomout {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.67);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomout {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.67);
	}
	100% {
		transform: scale(1);
	}
}

.option-icon {
	margin-top: 11px;
	margin-right: 8px;
}

.close-icon {
	position: absolute;
	right: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	top: 0px;
	/* display: block;
	width: auto;
	height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	display: -ms-flexbox;
	-ms-flex-align: center;
	align-items: center;
	transform: translateZ(0);
	line-height: 58px; */
}

/* .close-icon:hover {
	background-color: rgba(0, 0, 0, 0.1);
} */

.close-icon img {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 12px;
}

.ellipsis-icon, .envelope-icon {
	position: absolute;
	right: 50px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	top: 4px;
	/* display: block;
	width: auto;
	height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	display: -ms-flexbox;
	-ms-flex-align: center;
	align-items: center;
	transform: translateZ(0);
	line-height: 58px; */
}

.thumbs-up {
	float: left;
	position: absolute;
	right: 75px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	top: 16px;
}

.thumbs-down {
	float: left;
	position: absolute;
	right: 50px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	top: 16px;
}

.down-caret-icon {
	right: 45px;
	transition: all 0.3s ease-in-out;
}

.category-frame .bubbles {
	background-color: transparent;
	font-size: 14px !important;
	color: #305c8f;
	font-weight: 400 !important;
	padding: 5px 16px !important;
	border-radius: 14px !important;
	cursor: pointer !important;
	float: left !important;
	margin-right: 4px !important;
	margin-left: 4px;
	margin-bottom: 16px !important;
	line-height: normal !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	border: 1px solid #305c8f;
	transition: all 0.3s ease-in-out;
}

.category-frame .bubbles:hover {
	background-color: #305c8f;
	color: #ffffff;
}

.category-frame .bubbles:first-child {
	margin-left: 0px;
}

.category-frame input {
	display: none;
}

.category-frame input[type="checkbox"]:checked+label {
	background-color: #606060 !important;
	color: #ffffff !important;
	border: 1px solid #515050 !important;
}

.category-frame {
	visibility: visible;
	clear: both;
	position: relative;
	overflow: hidden;
	/* animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
	transform-origin: left bottom;
	margin-left: 10px;
	margin-right: 0px;
}

.submit-btn-frame {
	width: 100%;
	position: relative;
	display: inline-block;
}

.submit-btn {
	width: auto !important;
	height: auto !important;
	line-height: normal !important;
	color: white !important;
	padding: 6px 15px !important;
	border: none !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	outline: none !important;
	background-color: #ec0404 !important;
	border: 1px solid #ec0404 !important;
	margin-top: 8px;
	margin-bottom: 15px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
}

.submit-btn:hover {
	background-color: #606060 !important;
	border: 1px solid #606060 !important;
	color: #ffffff !important;
}

.submit-btn img {
	margin-left: 8px;
	width: 6px;
	height: 11px;
}

.multiple-option {
	font-size: 14px;
	margin-bottom: 9px;
	display: inline-block;
	font-weight: 600;
	color: #666666;
}

.formchatOuter {
	/* position: absolute !important; */
	/* bottom: 0px !important; */
	/* width: 100% !important; */
	text-align: center !important;
	font-size: 13px !important;
	color: #666666 !important;
	z-index: 999999 !important;
}

.chatbot-rating {
	position: absolute !important;
	bottom: 0px !important;
	width: 100% !important;
	text-align: left !important;
	font-size: 13px !important;
	color: #666666 !important;
	z-index: 999999 !important;
	border-top: 1px solid #dadada !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	padding: 10px 0px;
	text-indent: 0px;
	background-color: #f5f5f5;
}

.chatbot-rating .info-icon {
	margin-left: 25px;
	margin-right: 5px;
	margin-bottom: -3px;
}

.chatbot-rating span {
	float: right;
	margin-right: 25px;
}

.chatbot-rating span .rating-img {
	margin-left: 8px;
	cursor: pointer;
}

.select-alert-msg {
	font-size: 13px;
	color: red;
	font-weight: normal;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

@media screen and (max-width: 449px) and (min-width: 320px) {
	.transparentInput {
		width: 320px;
	}
	.input100 {
		width: 248px;
	}
	.transparentInput {
		bottom: 0px;
	}
}

@media screen and (max-width: 667px) and (min-width: 320px) {
	.input100 {
		width: 100%;
	}
}

@media screen and (max-width: 350px) and (min-width: 320px) {
	.small-chat-box .content .left .chat-message {
		margin-right: 45px;
	}
	.small-chat-box .content .right .chat-message {
		margin-left: 45px !important;
	}
	.authForm {
		margin-right: 45px !important;
	}
	.category-frame {
		margin-right: 0px !important;
	}
}

.back-btn {
	position: relative;
	clear: both;
}

.back-btn button {
	width: auto !important;
	height: auto !important;
	line-height: normal !important;
	color: white !important;
	padding: 6px 15px !important;
	border: none !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	outline: none !important;
	background-color: #b05e38 !important;
	border: 1px solid #964b29 !important;
	margin-top: 8px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
	transition: all 0.5s;
}

.back-btn button:hover {
	background-color: #964b29 !important;
}

.back-btn button img {
	transform: rotate(180deg);
	margin-top: 0px;
	margin-right: 3px;
	margin-left: 0px;
	padding-left: 0px;
	width: 6px;
	height: 11px;
}

.uerTextArea {
	height: 80px !important;
	width: 100% !important;
	padding: 7px 7px !important;
	box-shadow: none !important;
}

.acommodationform {
	background-color: #ffffff;
	border: solid 1px #e6e6e6;
	clear: both;
	padding: 0px;
	animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: left bottom;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.marginAco {
	margin-right: 37px;
	margin-left: 37px;
}

.acommodationform .main-heading {
	font-size: 15px;
	font-weight: 600;
	color: #666666;
	margin-bottom: 10px;
	background-color: #e6e6e6;
	padding: 6px 10px;
}

.acommodationform .form-group {
	margin-bottom: 15px;
}

.acommodationform label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 600;
	cursor: default;
	font-size: 14px;
}

.acommodationform .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 0px 2px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.acommodationform .form-row {
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 14px;
}

.authForm input[type="date"]::before {
	color: #666666 !important;
	content: attr(placeholder);
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.authForm input[type="date"] {
	color: #666666 !important;
}

.authForm input[type="date"]:focus, .authForm input[type="date"]:valid {
	color: #666666 !important;
	outline: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.authForm input[type="date"]:focus {
	border-bottom: 1px solid #f90;
}

.authForm input[type="date"]:valid {
	border-bottom: 1px solid #1cc885;
}

.authForm input[type="date"]:focus::before, .authForm input[type="date"]:valid::before {
	content: "" !important;
}

.authForm input[type="number"]::before {
	color: #999999;
	content: attr(placeholder);
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.authForm input[type="number"] {
	color: #ffffff;
}

.authForm input[type="number"]:focus, .authForm input[type="number"]:valid {
	color: #666666;
	outline: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.authForm input[type="number"]:focus {
	border-bottom: 1px solid #f90;
}

.authForm input[type="number"]:valid {
	border-bottom: 1px solid #1cc885;
}

.authForm input[type="number"]:focus::before, .authForm input[type="number"]:valid::before {
	content: "" !important;
}

.authForm input[type="number"]::-webkit-input-placeholder {
	color: #cbcbcb !important;
}

.authForm input[type="number"]:-moz-placeholder {
	color: #cbcbcb !important;
}

.authForm input[type="number"]::-moz-placeholder {
	color: #cbcbcb !important;
}

.authForm input[type="number"]:-ms-input-placeholder {
	color: #cbcbcb !important;
}

.desig-domain-scrollbar {
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	height: 150px;
	overflow-x: hidden;
	right: 0px;
	top: 10px;
	bottom: 10px;
}

.desig-domain-scrollbar::-webkit-scrollbar {
	width: 7px;
	background-color: #f1f1f1;
}

.desig-domain-scrollbar::-webkit-scrollbar-thumb {
	background-color: #bebebe;
}

.open>.dropdown-menu {
	display: block;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 1rem;
	color: #373a3c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.dropdown-header, .dropdown-item {
	display: block;
	padding: 3px 20px;
	line-height: 1.5;
	white-space: nowrap;
}

.dropdown-item {
	width: auto;
	clear: both;
	font-weight: 400;
	color: #3f4c53;
	text-align: inherit;
	background: 0 0;
	border: 0;
}

a:hover.dropdown-item {
	color: #ffffff;
	cursor: pointer;
}

a.dropdown-item {
	font-size: 14px;
	padding: 5px 7px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: none;
	background-color: #3788e9;
	color: #ffffff !important;
}

.radio-buttons-wrap {
	width: auto;
	height: auto;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
	display: table;
	animation: bounceIn 0.6s ease;
	transform-origin: 0 0 0;
	background-color: #ffffff;
}

.radio-buttons-wrap .heading-text {
	font-size: 14px;
	color: #3f4c53;
	padding: 10px 0px;
	text-align: left;
	font-weight: 500;
}

.radio-buttons-wrap .radio-buttons {
	text-align: left;
	margin-bottom: 15px;
}

.radio-buttons .radio {
	margin-bottom: 15px;
	border: 1px solid #35740f;
	margin: 8px 0px;
	border-radius: 30px;
	padding: 6px 10px;
}

.checkbox, .radio {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.radio-buttons .radio input[type="radio"], .radio-buttons .radio input[type="checkbox"] {
	opacity: 0;
	display: none;
}

.radio-buttons .radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	text-indent: 26px;
}

.radio-buttons .radio label {
	padding-left: 0px !important;
	font-size: 15px;
	color: #666666;
}

.checkbox label, .radio label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}

.radio-buttons .radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 27px;
	top: 4px;
	margin-left: -27px;
	border: 2px solid #dedede;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

#checkBoxs .radio label::before {
	border-radius: 3px !important;
}

.radio-buttons .radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio-buttons .radio input[type="radio"]+label::after, .radio-buttons .radio input[type="checkbox"]+label::after {
	background-color: #428bca;
}

.radio-buttons .radio input[type="radio"]:checked+label::before {
	border-color: #35740f;
	background-color: #35740f;
}

#checkBoxs .radio input[type="checkbox"]:checked+label::before {
	border-color: #35740f !important;
	background-color: #35740f !important;
	border-radius: 3px !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

.radio-buttons .radio input[type="radio"]:checked+label::after, .radio-buttons .radio input[type="checkbox"]:checked+label::after {
	background-color: #35740f;
}

.radio-buttons .radio input[type="radio"]:checked+label {
	color: #35740f;
}

.check-box-wrap {
	width: auto;
	height: auto;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
	display: table;
	animation: bounceIn 0.6s ease;
	transform-origin: 0 0 0;
	background-color: #ffffff;
}

.check-box-wrap .heading-text {
	font-size: 14px;
	color: #3f4c53;
	padding: 10px 0px;
	text-align: left;
	font-weight: 500;
}

.check-box-wrap .radio-buttons {
	text-align: left;
}

@media (min-width: 320px) and (max-width: 425px) {
	.radio-buttons-wrap, .auto-complete, .check-box-wrap, .user_feedback {
		margin-left: 10px !important;
		margin-right: 0px !important;
	}
}

.age-clmn-width {
	width: 50%;
	margin-right: 15px;
}

.age-clmn-width:nth-child(2) {
	margin-right: 0px;
}

.rating {
	float: left;
	border: 0px;
}

.rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0.1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: #3f4c53;
}

.rating:not(:checked)>label:before {
	content: "★ ";
}

.rating>input:checked~label {
	color: #f70;
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover~label {
	color: gold;
}

.rating>input:checked~label:hover, .rating>input:checked label:hover label, .rating>label:hover input:checked label {
	color: #ea0;
}

.typing-indicator {
	will-change: transform;
	width: auto;
	border-radius: 50px;
	padding: 4px;
	display: table;
	margin: 0 auto;
	position: relative;
	-webkit-animation: 2s bulge infinite ease-out;
	animation: 2s bulge infinite ease-out;
}

.typing-indicator::before, .typing-indicator::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: -2px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.typing-indicator::after {
	height: 10px;
	width: 10px;
	left: -10px;
	bottom: -10px;
}

.typing-indicator span {
	height: 11px;
	width: 11px;
	float: left;
	margin: 0px 2px;
	background-color: #9e9ea1;
	display: block;
	border-radius: 50%;
	opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
	-webkit-animation: 1s blink infinite 0.3333s;
	animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
	-webkit-animation: 1s blink infinite 0.6666s;
	animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
	-webkit-animation: 1s blink infinite 0.9999s;
	animation: 1s blink infinite 0.9999s;
}

.loading-avatar {
	margin-bottom: 5px;
}

@-webkit-keyframes blink {
	50% {
		opacity: 1;
	}
}

@keyframes blink {
	50% {
		opacity: 1;
	}
}

.small-chat-box .content .left {
	-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
}

.small-chat-box .content .right {
	-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}

@keyframes slideFromLeft {
	0% {
		margin-left: -200px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

@-webkit-keyframes slideFromLeft {
	0% {
		margin-left: -200px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes slideFromRight {
	0% {
		margin-right: -200px;
		opacity: 0;
	}
	100% {
		margin-right: 0;
		opacity: 1;
	}
}

@-webkit-keyframes slideFromRight {
	0% {
		margin-right: -200px;
		opacity: 0;
	}
	100% {
		margin-right: 0;
		opacity: 1;
	}
}

.fb_customer_chat_bounce_out_v2 {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_v2;
	transition-timing-function: ease-in;
}

@keyframes fb_bounce_out_v2 {
	0% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: bottom right;
	}
	100% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: bottom right;
	}
}

@keyframes fb_bounce_in_v2 {
	0% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: bottom right;
	}
	50% {
		transform: scale(1.03, 1.03);
		transform-origin: bottom right;
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: bottom right;
	}
}

.fb_customer_chat_bounce_out_v2_mobile_chat_started {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_v2_mobile_chat_started;
	transition-timing-function: ease-in;
}

.fb_customer_chat_bounce_in_v2_mobile_chat_started {
	animation-duration: 300ms;
	animation-name: fb_bounce_in_v2_mobile_chat_started;
	transition-timing-function: ease-in;
}

@keyframes fb_bounce_out_v2_mobile_chat_started {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0;
		top: 20px;
	}
}

@keyframes fb_bounce_in_v2_mobile_chat_started {
	0% {
		opacity: 0;
		top: 20px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

/* @media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
	.chatbotFrame {
		height: 100% !important;
		bottom: 0 !important;
	}
} */

@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
	.chatbotFrame {
		z-index: 2147483001 !important;
		width: 100% !important;
		height: 100% !important;
		max-height: none !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		border-radius: 0 !important;
	}
	/* .chatbot-body {
		height: 93.40%!important;
	} */
}

.userDetailsForm {
	margin-bottom: 10px;
}

.blog-wrap {
	width: auto;
	height: auto;
	position: relative;
	border: 1px solid #e1e3e7 !important;
	border-radius: 5px;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
}

.blog-wrap .single-blog .blog-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
	display: block;
}

.view-gallery {
	display: block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.view-gallery a>img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	width: 100%;
	margin-bottom: 0px !important;
}

.view-gallery a .view-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}

.view-gallery a .view-gallery-poster>img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.view-gallery a:hover>img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}

.view-gallery a:hover .view-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}

.view-gallery a:hover .view-gallery-poster>img {
	opacity: 1;
}

.blog-wrap .single-blog h4 {
	font-size: 12px;
	color: #525252;
	font-weight: 600;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.blog-wrap .single-blog h4 a {
	text-decoration: none;
	color: #525252;
}

.blog-wrap .single-blog h4 a:hover {
	color: #cc9966;
}

.blog-wrap .single-blog p {
	font-size: 13px;
	color: #666666;
	font-weight: normal;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	margin-bottom: 10px;
	line-height: 22px;
}

.blog-wrap .single-blog p:last-child {
	margin-bottom: 0px;
}

.blog-wrap .single-blog .date, .blog-wrap .single-blog .date a {
	color: #cc9966;
	text-decoration: none;
}

.blog-wrap .single-blog .date a:hover {
	color: #3f8798;
}

.single-testimonial {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/question-mark.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.single-testimonial p:first-child {
	font-style: italic;
}

.left-arrow, .right-arrow {
	background: #ffffff;
	cursor: pointer;
	width: 27px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: -15px;
	transform: translateY(-50%);
}

.right-arrow {
	right: -15px !important;
	left: auto !important;
}

.left-arrow img, .right-arrow img {
	opacity: 0.4;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.left-arrow img:hover, .right-arrow img:hover {
	opacity: 1;
}

.single-testimonial {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/question-mark.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.single-testimonial p:first-child {
	font-style: italic;
}

.modal-backdrop {
	background: rgba(0, 0, 0, 0.35) !important;
}

.modal-title {
	color: #525252;
	text-align: center;
	font-size: 18px;
}

.close {
	font-size: 21px !important;
	font-weight: 400 !important;
	color: #8f8f8f !important;
	filter: alpha(opacity=1) !important;
	opacity: 1 !important;
	background-color: #ffffff !important;
	border-radius: 10px;
	width: 26px;
	height: 26px;
}

.close:focus, .close:hover {
	background-color: #f3f3f3 !important;
}

.modal-body {
	padding: 0px !important;
}

.modal-header {
	border-bottom: 1px solid #eee !important;
}

.modal-footer {
	border-top: 1px solid #eee !important;
}

.modal-header .close {
	margin-top: -10px !important;
	margin-right: -15px !important;
	outline: none !important;
}

.modal-content {
	padding: 10px 20px 10px 20px !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 25px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.blog-scroll {
	color: #343940;
	line-height: 21.5px;
	padding: 20px 0px 20px 20px;
	height: calc(100% - 110px);
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 69vh;
}

.blog-scroll p {
	font-size: 14px;
	color: #666666;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 24px;
	margin-right: 20px;
}

.blog-scroll p .blog-img {
	margin: 15px 0px;
	padding: 0px;
	border: 0px;
	height: auto;
	max-width: 100%;
}

.blog-scroll .blog-date {
	font-size: 11px !important;
	color: #999 !important;
}

.blog-scroll .blog-date a {
	color: #d49a59 !important;
}

.blog-scroll .blog-date a:hover {
	color: #3f8798 !important;
}

.blog-scroll .heading {
	font-size: 17px;
}

.modal-chat-btn .chat-button {
	height: 36px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	line-height: 36px;
	padding: 0 13px;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border: 1px solid #cccccc;
	margin-left: 30px;
}

.modal-chat-btn {
	width: 30%;
	float: left;
	text-align: left;
}

.modal-chat-btn .chat-button:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.blog-vote {
	font-size: 13px !important;
	color: #999 !important;
	margin-top: 7px;
	width: 70%;
	float: right;
	text-align: right;
}

.blog-vote i {
	color: #a1a1a1;
	cursor: pointer;
	font-size: 16px;
}

.blog-vote i:first-child {
	margin-left: 8px;
	margin-right: 8px;
}

.blog-vote i:hover {
	color: #cc9966;
}

.blog-vote .voting-image:first-child {
	margin-right: 10px;
	cursor: pointer;
	margin-left: 10px;
}

.blog-vote .voting-image:last-child {
	margin-right: 30px;
	cursor: pointer;
}

.blog-next-btn a {
	font-size: 13px !important;
	color: #999 !important;
	display: inline;
	cursor: pointer;
	text-decoration: none !important;
}

.blog-next-btn a:hover {
	color: #cc9966 !important;
}

.blog-next-btn a:first-child {
	margin-right: 10px;
}

.blog-next-btn i {
	font-size: 16px;
}

.blog-writer {
	font-size: 10px !important;
}

.my-modal-overlay {
	font-family: inherit;
	position: fixed;
	z-index: 1111111111111111 !important;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.35);
}

.my-modal {
	border-radius: 25px;
	background-color: #fff;
	position: relative;
	cursor: default;
	color: #2f3138;
	position: fixed;
	margin: auto;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}

@media (min-width: 768px) {
	.my-modal {
		width: 600px;
		margin: 30px auto;
	}
}

@media only screen and (max-width: 630px) and (min-width: 320px) {
	.my-modal .my-modal-close {
		top: 5px !important;
	}
	.my-modal .my-modal-header {
		padding: 30px 20px 20px 20px !important;
	}
	.my-modal .my-modal-content {
		margin-top: 101px !important;
	}
}

.my-modal .my-modal-header {
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #525252;
	font-weight: 500;
	border-bottom: 1px solid #eee;
	padding: 20px 20px 20px 20px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.my-modal .my-modal-content {
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 15px;
	margin-top: 66px;
	margin-bottom: 79px;
	padding-right: 30px;
	padding-left: 30px;
}

.my-modal .my-modal-content .blog-content .blog-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.my-modal .my-modal-content .blog-content p {
	font-size: 14px;
	color: #666666;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 24px;
	margin-right: 20px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.my-modal .testinonial {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/buzzmeeh/images/question-mark.png);
	background-repeat: no-repeat;
	background-position: right 25px bottom 5px;
}

.my-modal .testinonial p {
	font-style: italic;
}

.my-modal .testinonial .blog-writer {
	font-style: normal !important;
	font-size: 13px !important;
}

.my-modal .my-modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 0px;
	text-align: right;
	border-top: 1px solid #eee;
	text-align: center;
}

.my-modal .my-modal-footer .blog-vote {
	font-size: 13px !important;
	color: #999 !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.my-modal .my-modal-footer .blog-vote i:first-child {
	margin-left: 8px;
	margin-right: 8px;
}

.my-modal .my-modal-footer .blog-vote i {
	color: #a1a1a1;
	cursor: pointer;
	font-size: 16px;
}

.my-modal .my-modal-footer .blog-vote i:hover {
	color: #cc9966;
}

.my-modal .my-modal-close {
	outline: none !important;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: right;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	font-size: 21px !important;
	font-weight: 400 !important;
	color: #8f8f8f !important;
	filter: alpha(opacity=1) !important;
	opacity: 1 !important;
	background-color: #ffffff !important;
	border-radius: 10px;
	width: 26px;
	height: 26px;
	font-family: inherit;
	position: absolute;
	right: 15px;
	top: 14px;
}

.my-modal .my-modal-close:focus, .my-modal .my-modal-close:hover {
	background-color: #f3f3f3 !important;
}

/* OTP send section start here */

.otp-send-wrap {
	margin-bottom: 10px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.otp-send-form {
	background-color: #ffffff;
	border: solid 1px #e8eaed;
	border-radius: 3px;
	clear: both;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 7px;
	margin-left: 10px;
	margin-right: 20px;
	animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: left bottom;
	box-shadow: 0 9px 0px 0px white, 0 -5px 0px 0px white, 4px 0 15px -11px rgba(202, 202, 202), -1px 0 15px 0px rgba(202, 202, 202);
}

.otp-send-form .form-row {
	position: relative !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
	margin-bottom: 10px !important;
}

.otp-form-input {
	width: 100%;
	position: relative;
	margin-bottom: 0px;
	display: -ms-flexbox;
	display: flex;
}

.otp-form-input .otp-input {
	font-size: 13px !important;
	color: #747474 !important;
	line-height: 1.2 !important;
	display: block !important;
	width: 100% !important;
	height: auto !important;
	position: relative !important;
	background: #ffffff !important;
	padding: 7px 7px 7px 7px !important;
	outline: none !important;
	border: 1px solid #e2e4e8 !important;
	border-radius: 3px 0px 0px 3px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	box-shadow: none;
	transition: all 0.2s ease-in-out !important;
	-webkit-transition: all 0.2s ease-in-out !important;
	-o-transition: all 0.2s ease-in-out !important;
}

.otp-form-input .otp-input:focus {
	border: 1px solid #ec0404 !important;
}

.otp-form-input .form-btn {
	margin-top: 10px;
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	text-align: right;
}

.otp-form-input .otp-btn-default[disabled] {
	background-color: #ec0404 !important;
	border: 1px solid #ec0404 !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
	opacity: 0.5 !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.otp-form-input .form-button {
	width: 40% !important;
	height: auto !important;
	line-height: normal !important;
	color: white !important;
	padding: 6px 0px !important;
	border: none !important;
	border-radius: 0px 3px 3px 0px !important;
	cursor: pointer !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	outline: none !important;
	background-color: #ec0404 !important;
	border: 1px solid #ec0404 !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25) !important;
	transition: all 0.3s ease-in-out;
}

.otp-form-input .form-button:hover {
	background-color: #606060 !important;
	border: 1px solid #606060 !important;
	color: #ffffff !important;
}

.otp-send-form .resend-otp {
	font-size: 13px;
	color: #202124;
	text-align: center;
}

.otp-send-form .resend-otp a {
	color: #003ab5;
	text-decoration: none;
}

.otp-send-form .resend-otp-text {
	color: #003ab5;
	text-decoration: none;
	transition: all 0.2s ease-in-out !important;
	-webkit-transition: all 0.2s ease-in-out !important;
	-o-transition: all 0.2s ease-in-out !important;
}

.otp-send-form .resend-otp-text:hover {
	color: #202124 !important;
	text-decoration: underline;
}

.otp-send-form .resend-otp .countdown {
	color: #58b35b !important;
	cursor: initial;
}

.otp-send-form .message {
	position: relative;
	text-align: center;
	margin-top: 10px;
}

.otp-send-form .success-message {
	font-size: 12px;
	color: #47ac4b;
}

.otp-send-form .error-message {
	font-size: 12px;
	color: red;
	text-align: center;
}

/* OTP send section end here */

.googlemap-height {
	height: 255px;
}

agm-map {
	height: 300px;
}

.bubbles-wrapper {
	/* position: absolute !important; */
	/* bottom: 55px !important; */
	width: 100% !important;
	text-align: center !important;
	font-size: 13px !important;
	color: #666666 !important;
	z-index: 999999 !important;
	background-color: #E0E7EE;
	/* padding: 22px 0px; */
	-webkit-animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	transform-origin: left bottom;
}

.bubbles-inner {
	margin: 0px 16px;
	padding: 16px 0px 0px 0px;
	border-bottom: 1px solid #ffffff;
	/* min-height: 90px; */
}

.authForm .input100::-webkit-input-placeholder {
	color: #4e4e4e !important;
}

.authForm .input100:-moz-placeholder {
	color: #4e4e4e !important;
}

.authForm .input100::-moz-placeholder {
	color: #4e4e4e !important;
}

.authForm .input100:-ms-input-placeholder {
	color: #4e4e4e !important;
}

.form-submit-btn {
	position: relative!important;
	right: 0px!important;
	top: 1px!important;
	margin-left: 16px;
}

.form-back-btn {
	position: relative!important;
	left: 0px!important;
	top: 1px!important;
	margin-right: 16px;
}

.payment-details {
	font-size: 14px;
	font-weight: 400;
	color: rgb(42, 82, 132);
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.payment-details .heading {
	font-size: 15px;
	font-weight: 600;
	color: #333333;
	/* margin-bottom: 15px; */
	border-bottom: solid 0px #e6e6e6;
	padding: 10px 10px;
	text-align: center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.payment-details table {
	border: 1px solid #dce3ed;
	border-collapse: collapse;
}

.payment-details table th {
	background-color: #dce3ed;
	border-right: 1px solid #ffffff;
	font-size: 12px;
}

.payment-details table th:last-child {
	border-right: 0px;
}

.payment-details table th, .payment-details table td {
	padding: 2px 5px;
}

.chatbot-body {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: calc(100% - 57px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-direction: column;
	position: relative;
	/* background: #fff;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px; */
	/* overflow-y: auto;
	overflow-x: hidden; */
}

.messages-body {
	/* background-color: rgb(220, 220, 220, .72);
	padding-top: 1em;
	background-image: url(images/default/BG.svg); */
	/* background-size: cover; */
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.footer-form {
	position: relative;
}

.margin-bottom-zero {
	margin-bottom: 0px!important;
}

.card-details-lastrow {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 16px;
	margin-bottom: 0px!important;
}

.card-details-authForm {
	padding-bottom: 0px!important;
}

.card-details-authForm .edit-icon {
	margin-right: 16px!important;
	margin-top: 14px!important;
}

.card-details-authForm .card-number-label {
	left: 44px!important;
}

.card-details-authForm .two-column {
	width: 50%;
	margin-right: 15px;
	position: relative;
}

.card-details-authForm .two-column:last-child {
	margin-right: 0px;
	margin-left: 20px;
}

.card-details-authForm .two-column:last-child input {
	padding: 22px 0px 10px 0px !important;
	text-indent: 10px;
}

.card-details-authForm .two-column .column-inner {
	width: 50%!important;
	float: left;
	position: relative;
}

.card-details-authForm .first-lable {
	margin-left: 35px;
}

/* css for enter payment information form  */

.payment-info-form {
	position: relative;
}

.payment-info-form .form-row-inner {
	width: 100%;
	position: relative;
	display: flex;
}

.payment-info-form .form-row-inner .form-row {
	width: 50%;
}

.payment-info-form .form-row-inner .form-row:first-child {
	margin-right: 0px!important;
}

.payment-info-form .error-Message {
	text-align: left;
}

.payment-info-form .main-heading {
	padding: 15px 0px 15px 0px!important;
}

/* css for payment date form  */

.payment-date-form {
	position: relative;
}

.payment-date-form .form-row-inner {
	width: 100%;
	position: relative;
	display: flex;
}

.payment-date-form .form-row-inner .form-row {
	display: flex;
	color: rgb(42, 82, 132);
	font-size: 13px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.payment-date-form .form-row-inner .form-row label {
	font-weight: normal;
}

.payment-date-form .form-row-inner .form-row label:first-child {
	margin-right: 20px;
}

.payment-date-form .form-row-inner .radio-btn {
	width: 18px;
	height: 18px;
}

.payment-date-form .form-row-inner .radio-btn:nth-child(2) {
	margin-left: 20px;
}

.payment-date-form .main-heading {
	padding: 15px 0px 15px 0px!important;
}

.payment-date-form .last-row {
	width: 100%;
}

/* css for confirm payment form  */

.confirm-payment-form {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(42, 82, 132);
	font-size: 14px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.confirm-payment-form a {
	color: rgb(42, 82, 132);
	text-decoration: underline;
}

.confirm-payment-form a:hover {
	text-decoration: none;
}

.confirm-payment-form .main-heading {
	padding: 15px 0px 15px 0px!important;
}

.confirm-payment-form .payment-details {
	padding: 0px;
	margin: 0px;
}

.confirm-payment-form .payment-details li {
	border-bottom: 1px solid #b7c3d4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	list-style: none;
}

.confirm-payment-form .payment-details li strong {
	font-weight: 600;
}

.confirm-payment-form .payment-details li span {
	float: right;
	display: flex;
}

.confirm-payment-form .total-payment {
	background-color: #c6cfdc;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.confirm-payment-form .total-payment strong {
	font-weight: 600;
}

.confirm-payment-form .total-payment span {
	float: right;
	font-size: 16px;
	font-weight: 600;
}

.confirm-payment-form .payment-content p {
	margin-bottom: 15px;
}

.confirm-payment-form .payment-content p label {
	font-weight: normal;
	font-size: inherit;
}

.confirm-payment-form .payment-content p span {
	font-weight: 600;
}

/* .confirm-payment-form .formBtn button:first-child {
	margin-right: 15px;
} */

.confirm-payment-form .visa-img {
	width: 35px;
	height: auto;
	margin-right: 10px;
}

.confirm-payment-form .btn-margin {
	margin-left: 0px!important;
	margin-right: 0px!important;
}

/* css for payment receipt form  */

.payment-receipt-form {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(42, 82, 132);
	font-size: 13px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.payment-receipt-form .main-heading {
	padding: 15px 0px 15px 0px!important;
}

.payment-receipt-form .receipt-details {
	padding: 0px;
	margin: 0px;
}

.payment-receipt-form .receipt-details li {
	border-bottom: 1px solid #b7c3d4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	list-style: none;
}

.payment-receipt-form .receipt-details li strong {
	font-weight: 600;
}

.payment-receipt-form .receipt-details li span {
	float: right;
}

/* css for payment method form  */

.payment-method-form {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(42, 82, 132);
	font-size: 13px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.payment-method-form .main-heading {
	padding: 15px 0px 15px 0px!important;
}

.payment-method-form .method-details {
	padding: 0px;
	margin: 0px;
}

.payment-method-form .method-details li {
	border-bottom: 1px solid #b7c3d4;
	padding-bottom: 5px;
	margin-bottom: 10px;
	list-style: none;
	line-height: 25px;
}

.payment-method-form .method-details li label {
	font-weight: normal;
	width: 100%;
	font-size: 14px;
}

.payment-method-form .method-details li strong {
	/* font-weight: 600; */
	font-weight: normal;
}

.payment-method-form .method-details li strong img {
	width: 35px;
	height: auto;
	margin-right: 6px;
}

.payment-method-form .method-details li strong .radio-btn {
	width: 20px;
	height: 20px;
	margin-right: 6px;
}

.payment-method-form .method-details li span {
	float: right;
}

/* .payment-method-form .formBtn button:first-child {
	margin-right: 15px!important;
} */

.authForm .input-cal-icon {
	background: url(https://paxcelchatbotbackup.s3.amazonaws.com/payementusBot/calendar-icon.png)!important;
	background-repeat: no-repeat!important;
	background-size: 25px auto!important;
	background-position: right 9px!important;
	padding-right: 25px!important;
	background-color: #ffffff!important;
}

.authForm .input-date2::-webkit-input-placeholder {
	color: #666666 !important;
}

.authForm .input-date2:-moz-placeholder {
	color: #666666 !important;
}

.authForm .input-date2::-moz-placeholder {
	color: #666666 !important;
}

.authForm .input-date2:-ms-input-placeholder {
	color: #666666 !important;
}

.check-details-btn {
	margin-right: 15px;
}

/* css for e-check Details form  */

.echeck-details-form .form-row-inner .form-row {
	width: 100%;
	color: rgb(42, 82, 132);
	font-size: 13px !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.echeck-details-form .form-row-inner .radio-wrap label {
	font-weight: normal;
	line-height: 21px;
}

.echeck-details-form .form-row-inner .radio-btn {
	width: 18px;
	height: 18px;
	margin-right: 7px;
}

.echeck-details-form .form-row-inner .radio-wrap label:last-child {
	margin-left: 20px;
}

.security-icon {
	position: absolute;
	right: 5px;
	top: 5px;
}

.security-icon img {
	width: 25px;
	height: auto;
}

.mannualset30 {
	width: 30px !important;
}

.mannualset50 {
	width: 50px !important;
}

.lineheight {
	line-height: 2;
}

/* css for feedback form */

.feedback-modal {
	position: absolute;
	padding: 0 10px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999999 !important;
	overflow-y: auto;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.feedback-scale-on-mount {
	/* display: inline-block; */
	width: 100%;
	transition: all .4s ease-in-out;
}

.feedback-modal-wrapper {
	/* max-width: 500px; */
	position: relative;
	/* top: -50px; */
	padding: 0;
	/* background-color: #f5f5f5; */
	background-color: #ffffff;
	border-radius: 6px;
	box-sizing: border-box;
}

.feedback-modal-header-text {
	/* font-family: lato, Arial, Helvetica, sans-serif; */
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 0;
	color: #305c8f;
	letter-spacing: .11px;
	line-height: 28px;
	padding: 10px 10px;
	border-radius: 6px 6px 0 0;
	padding-bottom: 0px;
}

.feedback-modal-inner-wrapper {
	padding: 15px;
	padding-top: 10px;
}

.feedback-modal-cancel {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.feedback-input-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.feedback-signin-input {
	width: 100%;
	/* height: 50px; */
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 1px solid #e6e7e7;
	background-color: #fff;
	color: #383e42;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	transition: color .25s ease-in-out;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.feedback-signin-input::placeholder {
	color: #cccccc;
	font-size: 14px;
}

.feedback-signin-input:-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
}

.feedback-signin-input::-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
}

.feedback-validate-btn[disabled] {
	color: rgb(42, 82, 132);
	background-color: rgb(220, 227, 237);
	/* box-sizing: border-box;
	height: 40px;
	margin-top: 10px;
	border: none;
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
	font-size: 17px!important;
	font-weight: 500!important;
	font-family: "Raleway", Arial, Helvetica, sans-serif !important;
	text-align: center; */
}

.feedback-validate-btn {
	color: #fff;
	background-color: rgb(42, 82, 132);
	box-sizing: border-box;
	height: 40px;
	margin-top: 10px;
	border: none;
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px!important;
	font-weight: 400!important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	text-align: center;
}

.feedback-signin-input::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #bbbcbf;
	background-color: #e8eaed;
}

.feedback-signin-input::-webkit-scrollbar {
	width: 7px;
	background-color: #e8eaed;
}

.feedback-signin-input::-webkit-scrollbar-thumb {
	background-color: #bbbcbf;
}

.biller-name {
	font-size: 12px;
	font-weight: normal;
	color: #305c8f;
	/* font-family: "Raleway", Arial, Helvetica, sans-serif !important; */
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	margin-bottom: 5px;
	margin-left: 38px;
}

.bot-avatar {
	/* font-weight: 600;
	margin-bottom: 3px;
	font-size: 14px; */
	animation: scaleIn .4s cubic-bezier(.68, -.55, .265, 1.55);
	transform-origin: left bottom;
	position: absolute;
	bottom: 0px;
}

.bot-avatar img {
	border-radius: 50%;
	margin-right: 0px;
	vertical-align: top;
}

.yes-no-btn-wrapper {
	width: 100% !important;
	z-index: 999999 !important;
	animation: scaleIn2 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: left bottom;
	overflow: hidden;
}

.yes-no-btn-inner {
	margin: 0px 16px;
	/* padding: 16px 0px 16px 0px; */
	padding: 13px 0px 13px 0px;
	border-bottom: 1px solid #ffffff;
	overflow: hidden;
}

.yes-no-btn-inner .column {
	width: 50%;
	float: left;
}

.yes-no-btn-inner .text-right {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	/* overflow: hidden; */
}

.yes-no-btn-inner .button {
	background-color: #ffffff;
	font-size: 14px !important;
	font-weight: 400 !important;
	padding: 5px 16px !important;
	border-radius: 30px !important;
	cursor: pointer !important;
	/* float: left !important; */
	margin-right: 4px !important;
	margin-left: 4px;
	/* margin-bottom: 16px !important; */
	line-height: normal !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	border: 1px solid;
	transition: all 0.3s ease-in-out;
}

.yes-no-btn-inner .button:last-child {
	margin-right: 0px!important;
}

.yes-no-btn-inner .edit-icon {
	display: flex;
	margin-top: 2px;
	cursor: pointer;
}

.payment-calendar-icon {
	position: relative;
	overflow: hidden;
	/* display: inline-block; */
	right: 45px;
	top: 3px;
}

.payment-calendar-icon svg {
	fill: #305c8f;
}

.exploremiddle {
	float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .explore_info-widget {
	width: 310px;
	display: inline-block;
	z-index: 1!important;
  }
  ul.ExplorelistItem {
	/* float: left; */
    /* margin: 0px; */
    /* padding: 0px; */
    /* width: 330px; */
    font-family: "Raleway", Arial, Helvetica, sans-serif !important;
    font-size: 13px!important;

  }

  ul.ExplorelistItem li {
    /* float: left; */
    width: auto;
    margin: 5px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #b7c3d4;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  ul.ExplorelistItem li span { float: right;}

  feedbacktext {
    text-align: center;
    margin-top: 10px;
    color: green;
  }
