/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
.cdk-overlay-container {
  position: absolute;
  z-index: 10000000000000 !important;
}